[2016-01-02 19:50] achtan opened #1 "Demo examples are not working"
See this in live: https://jsfiddle.net/07pzx7d7/1/
See this in live: https://jsbin.com/nohuqa/edit?js,output
Check here to it in action: https://goo.gl/K1LhYk/
Try this live: https://jsbin.com/bofaxi/edit?js,output

I am getting error `"ReferenceError: ReactDataBinder is not defined at xazuzo.js:51:13"`

[2016-01-03 01:21] arunoda commented on #1
Yeah! That's because, I changes the name.

Use `ReactKomposer.compose` instead of `ReactDataBinder.bindData`. I'll update the samples.
Check the README in few hours.

[2016-01-03 15:05] arunoda commented on #1
Check now. Now they are working.
Actually, I've moved demos to JSFiddle.

[2016-01-03 15:05] #1 closed

[2016-01-04 00:19] arunoda opened #2 "composer function re-run after every prop change"
Currently, composer function will re-run for every prop change. This is a continuation of the discussion started at: https://github.com/facebook/react/issues/3398#issuecomment-168518308

[2016-01-04 00:28] arunoda commented on #2
@oztune Okay, you suggested to return a function and a key from the composer function and function will re-run if the key is different from the last time.

I assume here's the reason for this:

* Your data fetching code (the logic inside the component) is live inside another file.
* It may change the need of props time to time.
* So, if we go with the option I suggested (mention props, when compos

[2016-01-04 14:57] arunoda opened #3 "Support multiple composer functions"
It's great we could use multiple composer functions.

[2016-01-04 14:58] arunoda opened #4 "Watch props changes automatically"
Get a list of props used by the composer function. Then re-run the composer function if they changed.
This will fix #1

[2016-01-05 02:34] ccorcos commented on #2
@arunoda, don't you think that this is still imperative programming? You've isolated the side-effect to a container component, but your entire UI isnt side-effect free anymore and is imperatively tied to the lifecycle of the components.

Take this analogy. We used to do this:

[code]
And now we do this:
[code]
The the second example, we just declare what we want and let React parse the component t

[2016-01-05 05:51] arunoda commented on #2
This project is not something I propose to introduce declarative data fetching. But just create a shorthand method for what everyone do it right now.

declaritive data fetching needs to done in the caching layer. But it should not need to tie up with any UI layer. This is how we do it in our meteor-graphql example: https://github.com/kadira-samples/meteor-graphql-demo/blob/master/client/containers

[2016-01-05 06:48] ccorcos commented on #2
Yeah, thats the same pattern I used when I built findashindig.com: https://medium.com/@chetcorcos/shindig-react-data-component-aa0d2c82059e#.r2jveywu7

If you're using GraphQL, then it seems like you should compose your queries all the way up to the top-level and have a single container for all your data. Then everything inside the container is just the UI and its pure :+1:

[2016-01-05 07:17] arunoda commented on #2
It's upto the user. Its not 100% possible, but can do it.
Specially for apps which only render data.

[2016-01-05 18:49] ccorcos commented on #2
Why isnt it possible?

[2016-01-05 19:35] arunoda commented on #2
In apps, we may have to load data from other data sources not just from Relay. Then we need to deal with them.

[2016-01-07 09:06] minfawang opened #5 "Do we need to clean up the data for Meteor subscription?"
I just noticed the **Caveats** from the README talking about handling the clean up logic.

I wonder do we need to unsubscribe the data in the case of Meteor subscription (for both client and server)?

[2016-01-07 09:13] arunoda commented on #5
No you don't need to do in client. Tracker will take care of it.
In the server, FlowRouter SSR knows how to deal with unsubscriptions.

[2016-01-07 09:13] minfawang commented on #5
Thanks for the clarification! Closing it ..

[2016-01-07 09:13] #5 closed

[2016-01-07 10:54] arunoda opened #6 "Add composeAll utility"
With that we can do things like this:

[code]

[2016-01-07 10:56] arunoda opened #7 "Accept ErrorComponent as options"
Like this:

[code]

[2016-01-07 10:56] arunoda opened #8 "Add a way to set the default loading and error components"

[2016-01-08 00:21] arunoda opened #9 "composeWithTracker should also get a cleanup function."
We should accept a cleanup function with composeWithTracker too. Just like earlier it only run when unmounting the component.

[2016-01-09 11:44] arunoda commented on #9
Fixed with 1dbce80e71f3d47b99bf1630560883aecb116ad9

[2016-01-09 11:44] #9 closed

[2016-01-09 11:52] arunoda commented on #7
Fixed via 4602213

[2016-01-09 11:52] #7 closed

[2016-01-09 13:18] arunoda commented on #6
Added with v1.1.0

[2016-01-09 13:18] #6 closed

[2016-01-12 03:58] discdiver opened #11 "code example typo in readme"
minor issue:
In the readme example code under Using with Meteor

if(hander.ready())

should be

if(handler.ready()) {

[2016-01-12 04:59] arunoda commented on #11
Yeah!
Thanks. Fixed it.

[2016-01-12 04:59] #11 closed

[2016-01-15 21:18] ffxsam commented on #5
I came here to post about this very thing.

[code]

I'm used to template-based subscriptions in Blaze, or subscribing in `getMeteorData` in React. When exactly will a particular subscription stop, with Komposer?

[2016-01-15 22:43] arunoda commented on #5
It's just like the getMeteorData, when the component get unmonted.
On 2016 ජන 16, සෙන at පෙ.ව. 2.48 Sam <notifications@github.com> wrote:

[2016-01-17 08:33] marbemac opened #14 "Wrapped component not re-rendered"
The composer function is re-rendered fine (the console.log('render') below fires). However, the wrapped component (EndpointList) is not re-rendered (there is a console.log in that component that does not fire after the initial render, even when 'render' outputs in the composer function).

If we wrap onData with a 0 setTimeout, the wrapped component is re-rendered properly.

Anything jump out at yo

[2016-01-18 00:01] minfawang opened #15 "Why wrapping the component with a div?"
Notice [here](https://github.com/kadirahq/react-komposer/blob/master/lib/index.js#L56-L61) the container returned wraps the inner component with a `<div />`, which creates inconsistency of the view of the component. I think this wrapping is unnecessary, as depending on the if condition we are only going to show one component at a time. Can we (and I think we should) get rid of the wrapped div?

Th

[2016-01-18 00:31] arunoda commented on #15
Yeah. We can get rid of it. Could you work on it and send me a PR?

[2016-01-18 00:32] minfawang commented on #15
Cool! Will do.

[2016-01-18 00:32] arunoda commented on #15
Awesome.
On 2016 ජන 18, සඳුදා at පෙ.ව. 6.02 voiceup <notifications@github.com> wrote:

[2016-01-18 02:40] #15 closed

[2016-01-18 16:42] zvictor opened #17 "Better naming (error "Check the render method of `Container(ChildComponent)`")"
# Scenario
I am having a hard time debugging my containers and the way `react-komposer` is naming them is not helping me.

[code]

# Proposal

Add a `name` or `displayName`  attribute to the composer.
[code]

[2016-01-19 10:58] zvictor commented on #17
I realised that `compose` returns a `React.Component`, which can just be modified and extended.

[2016-01-19 14:01] arunoda commented on #17
Yeah! I will close this.

[2016-01-19 14:01] #17 closed

[2016-01-25 06:09] arunoda commented on #14
Hey, do you still have this issue. I'd like to see a sample repo or something similar. I can't get a reason by looking at this.

[2016-01-25 06:21] marbemac commented on #14
Sure I'll play around with it tomorrow, and try and create a little reproducible example for ya.

[2016-01-27 09:59] achtan opened #19 "Redux: whole app is re-rendered on every state update"
hi, lets assume we have (Mantra) container like this:
[code]

[2016-01-27 10:14] arunoda commented on #19
Okay. I know the issue.
For that, you need to check for `{foo}` is the same foo with the previous time and then don't call onData.
Fixing this in the app level can be tricky.

So, I suggest to do it on the core level.
Here's the place: https://github.com/kadirahq/react-komposer/blob/master/lib/index.js#L78

You need to check the identity of all the fields in payload with the `previous` time. If th

[2016-01-27 11:25] achtan commented on #19
I'm not sure what you are suggesting. You want me to write a PR or? (i'm not sure if i'm the right person to do that)

we should implement functionality from PureRenderMixin https://facebook.github.io/react/docs/pure-render-mixin.html because all components should be pure

[2016-01-27 12:13] arunoda commented on #19
I  think I'll do it. That's it.

[2016-01-27 20:11] tonyxiao commented on #8
Agreed, also it's not possible to pass a loading element into composeAll right now.

[2016-01-28 06:38] arunoda commented on #19
Hey, check the latest version (`v1.3.0`). I fixed this bug there.
See more info: https://github.com/kadirahq/react-komposer#pure-containers

[2016-01-28 07:24] achtan commented on #19
thx, ist working!

[2016-01-28 07:53] arunoda commented on #19
Cool. Then we can close this.

[2016-01-28 07:53] #19 closed

[2016-01-28 14:54] dagatsoin opened #20 "[discussion] Chaining react-komposer + react-redux"
I use react-komposer to conenct Meteor to React and react-redux to connect redux to react. Here is an exemple:
[code]
But it seems a lot of boilerplate for me. Is there a way to optimize this?

[2016-01-28 15:28] arunoda commented on #20
This is the react-komposer part and you always have to do it whether using react-komposer of anything else for Meteor.

[code]

For redux, you can directly react-komposer. See: https://github.com/kadirahq/react-komposer#using-with-redux

If you [Mantra](https://github.com/kadirahq/mantra), you can pass the redux state via our dependency injection mechanism.

[2016-01-30 15:48] markoshust opened #21 "Option to not unsubscribe subscriptions with composeWithTracker"
Right now, I'm using ReactMeteorData mixin with https://github.com/kadirahq/subs-manager

Caching subscriptions is crucial to my app so everything is always instant.

In this article, you noted that subscriptions are automatically unsubscribed after container unmount:
https://voice.kadira.io/using-meteor-data-and-react-with-meteor-1-3-13cb0935dedb#.oq8bos4u3

Is there (or can there be) an option t

[2016-01-30 16:40] arunoda commented on #21
@markoshust This is just like ReactMeteorData.(Since it runs a tracker) There is no built in way to do that.
You need to use subs-manager.

[2016-01-30 17:07] markoshust commented on #21
Ok no prob -- thanks

[2016-01-30 17:07] #21 closed

[2016-02-01 15:31] roberto68 commented on #4
do you mean do this ` const Clock = compose(composerFunction)(Time); `  https://jsfiddle.net/arunoda/wm6romh for every component like Time - if there's another component like Timer I should do `const TimerClock = compose(composerFunction)(Timer);`

[2016-02-01 15:46] arunoda commented on #4
Hey @roberto68.

I'm sorry but I don't clear the question.

[2016-02-01 20:08] roberto68 commented on #4
I mean rerun the composerFunction. if there is component Timer I should do ` const TimerClock = compose(composerFunction)(Timer); ` and I edit that second part of question

[2016-02-02 04:01] TimFletcher commented on #8
This is documented and works just fine for me using

[code]

[2016-02-02 22:32] venturecommunism commented on #2
Does JSON-LD have any applications to this problem?

[2016-02-03 17:02] Mistaken3lf opened #24 "Creating layout component"
How would I create a layout component to hold different components on the page that receive data from komposer. For instance:

This is the component that receives data from komposer
[code]

I would like to use this layout component to put that component inside of

[code]
Im using react-komposer, react-mounter and meteor 1.3 beta 5. Im very new to react so im not real sure how to go about getting t

[2016-02-03 17:18] arunoda commented on #24
Okay do this.

Create a container for `BOMItem` and let's say it is `BOMItemContainer`.
Then in the layout, import `BOMItemContainer` instead of `BOMItem` and render it.

[2016-02-03 17:57] Mistaken3lf commented on #24
I actually have a container for the BOM item and then in the router it renders the BOM item container. My problem though is how do I render the BOM layout inside the main layout and have the BOM item inside the BOM layout with the data from the container since I have to mount the BOM item to get data can I mount the BOM layout and pass data from it to the BOM item?

[2016-02-03 18:40] Mistaken3lf commented on #24
Here is the container:

[code]

Then here is the router:

[code]

What I would like to do for the /BOMItem route is instead of rendering the BOMItem directly I would like to render the layout for that page first and then put then put the BOMItem in the BOMLayout and render the <BOMLayout /> instead but im not sure how to get the data into the BOMItem if I mount the BOMLayout.

[2016-02-03 23:44] tonyxiao commented on #8
@TimFletcher yea i later discovered that too. It works fine but I think a better way of writing it would be

[code]

[2016-02-04 05:36] marbemac commented on #14
So this turned out to be a flexbox repaint issue in Chrome v48. Yes.. that took me FOREVER to figure out. Chrome 48 introduced all sorts of headaches re flexbox! Closing this :).

[2016-02-04 05:36] #14 closed

[2016-02-06 21:17] clayne11 opened #25 "When passing in Meteor.user() through another HOC I have a weird issue"
I have a component that has two composeWithTracker HOCs components chained together.

One of them simply fetches the Meteor.user() and returns the props {user}. The second container users the userId to fetch data out of a Meteor collection.

If I have a tab open with this container, then open a new tab to my application, when that tab loads, it clears the data on my original tab. My subscription i

[2016-02-06 21:40] clayne11 commented on #25
I solved it on my own.

[2016-02-06 21:40] #25 closed

[2016-02-07 00:51] arunoda commented on #25
Could you document it here and test us how you solved it?

[2016-02-08 06:17] TimFletcher opened #26 "Subscriptions in Parent Components aren't accessible from Dynamically mounted Children"
Not sure if this is a general Meteor thing or with react-komposer.

I have simple a container that subscribes to a collection and passes that data in as props to a component. This works perfectly.

If I dynamically mount a new child component into this component (say, it's a panel in a tabbed interface) then in this child component I'm not able to access any of the subscriptions from the parent. I

[2016-02-08 06:43] arunoda commented on #26
It's better to have a sample repo. Cannot say like this.

[2016-02-08 21:52] TimFletcher commented on #26
Well, I cloned the Mantra sample repo and couldn't reproduce the problem so it must be an issue in my app.

[2016-02-08 21:52] #26 closed

[2016-02-09 19:37] clayne11 opened #27 "Meteor - Issue with some integration tests since Tracker is not a dependency"
Since Tracker isn't required by react-komposer, I'm getting into a situation in some of my unit tests where Tracker isn't defined and it is causing exceptions. Either the Tracker portion should be put into an Atmosphere package or you should check if Tracker exists before using it.

[2016-02-10 05:15] arunoda commented on #27
Can I have more information on this and a sample app?

[2016-02-10 05:37] THPubs opened #29 "The data won't load into my component"
I tried to load some data into the component and the container doesn't seems to be sending the data. I then tried to access the data I passed but it gave me a error like this `Cannot read property 'slug' of undefined` which means the data is not sent correctly. What might be the issue?

I have posted the code here : https://gist.github.com/THPubs/6339371f3005936c3d81

Im using one main component (

[2016-02-10 07:43] THPubs commented on #29
Stupid me... I rendered the UI... not the container! Now it's working :-)

[2016-02-10 07:43] #29 closed

[2016-02-10 13:17] feit opened #30 "Can't call component method when component behind container"
eg.
### components/picker.jsx
[code]

### containers/picker.js
[code]

### components/page.jsx
[code]

[2016-02-12 05:07] arunoda commented on #30
This is because, after composed you create a new wrapper component. It's  not inheritance. So, you can't access those methods.

Anyway, you shouldn't use it like this. Try to use Redux of some kind of flux tool to talk  to the component via props.

[2016-02-12 05:07] #30 closed

[2016-02-12 05:15] THPubs opened #31 "It does not refresh the data when visiting a new page"
Im trying to load data based on the url of the page. Unfortunately, it does not refresh the data. Let's say I have two links. I click the first link and the data loads fine. But when I go back and click the second link, it shows the data of the first link. How can I fix this? Please help. Here's my container code :

    import { composeWithTracker } from 'react-komposer';
    import SingleBoxPage

[2016-02-12 08:42] arunoda commented on #31
I can't find an issue here. need a sample app.

[2016-02-12 10:52] THPubs commented on #31
Just fixed the issue! Looks like if we subscribe to a one page's data when visiting that page, it keep those data. So when I visit the second page, there are two pages subscribed! When I call `Boxes.findOne();` I expected to have only one box. But now there are two and the first one gets picked.

Is this normal? Or should it drop the old data when going to a new page like in a normal meteor app (w

[2016-02-12 17:33] roberto68 opened #32 "componentDidMount in komposer ??"
imagine you want to load google maps and you want them to load on init - so after komponent did mount? how to do it in compose function or anything you want to do once when component is loaded

[2016-02-13 15:26] ShayMatasaro opened #33 "Does it work for Meteor 1.2"
Hi,

I tried Komposer version 1.3.1 with Meteor 1.2 , but couldnt get it to work in a consistent manner.

A subscription would stop "on-its-own",
The Tracker computations state had first-run = true on multiple runs

putting my function inside a simple Tracker.autorun worked and generated consistent results

Thanks,
Shay

[2016-02-16 07:58] jmaguirrei commented on #3
Hello, I have a container that handles multiple reactive data sources, like this:

`import {composeWithTracker} from 'react-komposer';
import AppWrapper from '../AppWrapper.jsx';

function composer(props, onData) {

  let user;
  if (!Meteor.userId()) {
    user = 'JtYoZWSYuYcuFaXhb';
  } else {
    user = Meteor.userId();
  }

  const
    chatSub = Meteor.subscribe('chat', user),
    streamSub =

[2016-02-16 12:56] piyushcoader opened #34 "containers not executing"
Hi  i am trying to change the UI based on user logged in or not in the layout,
here is my layout code
Mainlayout.jsx
[code]
**the code for container is**

[code]

the problem is container is never executed am i missing some flow or do we have to place container in specific folder like inside container?
the code for router looks like this
route.jsx
[code]

thanks in advance...
i am trying to change

[2016-02-18 01:00] tomitrescak opened #35 "Nested trackers are incorrectly invalidated"
According to the documentation

But, when I have several nested containers, and the last one is invalidated, the computation is re-run from the top-most one.

Example:

[code]

In container C, I create an object that implements Tracker.Dependency and then I invalidate this object. But the recomputation starts from ContainerA, not C ;(

Is this a bug in the tracker komposer? Here is an example:

[c

[2016-02-18 01:56] tomitrescak commented on #35
And just to further describe my point. This works correctly. mc.click() invalidates only the last one. Model is ised from the previous example.

[code]

[2016-02-19 12:55] tomitrescak commented on #35
Am already two days with the issue and no solution. Things got even weirder. Of course the nested invalidation does not work, but I managed to get invalidate only one of the components by using reactivedict. It never worked with Tracker.Dependency or ReactiveVar as they both invalidate the topmost context.

Please, any take on this thing? Thanks.

[2016-02-19 16:30] lyquocnam opened #36 "[Meteor] How to query data with params from component ?"
how we query data like this: {_id: id}, limit, skip... progress from component and send back container ?

[2016-02-19 17:34] reohjs commented on #34
You haven't imported MainLayout in your `routes` file?

[2016-02-19 20:38] piyushcoader commented on #34
but MainLayout is rendered fine only problem is how to invoke the container from MainLayout?

[2016-02-20 04:08] tomitrescak commented on #35
@arunoda do you have any take on this? I think it is a serious flaw and it renders the Mantra chain to be usable only on "simple" projects. What I found out, is that composeWithTracker works correctly only with trackers that are instantiated "externally", such as Session, local storage from context e.t.c. Any Tracker that get instantiated inside the composed container invalidates the *root!* conte

[2016-02-20 06:45] tomitrescak commented on #35
I HAVE BEEN BLIND BUT NOW I SEE

I am pretty sure you were not responding in order for me to realise how far my head is up my ... ;) After three days of torturing myself with Trackers I have read and explored the documentation to the Tracker and realised its full and utterly ingenious potential. My thinking was stuck with trackers as the only source of reactivity ... but Komposer opens a way new a

[2016-02-20 06:45] #35 closed

[2016-02-20 12:34] reohjs commented on #34
Try mounting the container instead:

[code]

[2016-02-20 15:01] thomasmery commented on #36
https://github.com/kadirahq/react-komposer#using-with-meteor
 should be what you re looking for

[2016-02-20 18:38] piyushcoader commented on #34
Thanks, worked.. this is awesome.. :+1:

[2016-02-20 20:37] #34 closed

[2016-02-21 04:11] lyquocnam commented on #36
thanks @thomasmery it resolved by use FlowRouter params & Query params.

[2016-02-21 04:11] #36 closed

[2016-02-21 04:12] lyquocnam commented on #32
same question too...

[2016-02-22 15:01] TimFletcher commented on #32
Can't you just use `componentDidMount` in the component that komposer wraps? You don't have to use the stateless functional component form that's used in the examples. If you need any of the other React lifecycle methods then just use `React.createClass` or `MyComponent extends React.Component`.

[2016-02-22 20:09] mikesurowiec opened #37 "Pass props to LoadingComponent"
I'm currently migrating a project to use react-komposer. We have things that aren't displaying properly because props (like className) aren't being applied to the loading component. Is there a downside to passing those props through? Looking at: https://github.com/kadirahq/react-komposer/blob/master/lib/index.js#L74.

[2016-02-22 23:08] superandrew213 opened #38 "Using react-komposer with react-native"
Has anyone gotten this to work? I am trying to use mantra-core with react-native but get the error that mantra core can't load 'react-composer'. Installing react-composer without mantra-core still causes the same issue.

To replicate, create blank react-native app. Install react-composer and import (import {createApp} from 'react-composer';)  it in index.ios.js.

I'm getting the following issue. A

[2016-02-23 18:10] mikesurowiec commented on #37
I realized we can just call onData immediately (without data) to bypass the loading component, so this is unnecessary.

[2016-02-23 18:10] #37 closed

[2016-02-24 05:03] arunoda commented on #33
Not tested with it. How do you  use it? With browserify?
Can I have some sample app?

[2016-02-24 05:04] arunoda commented on #32
Yes.  @TimFletcher  is correct. You need to use `componentDidMount` on the React Component. Use a composer to just load the data.

[2016-02-24 05:04] #32 closed

[2016-02-24 05:07] arunoda commented on #31
That won't happen normally. But it's possible here because, React component may be not be unmounted yet, when the other component is mounting.

Is always a good practice to find document you always need.

[2016-02-24 05:07] #31 closed

[2016-02-24 05:08] arunoda commented on #27
@clayne11 I assume, Tracker is there on all apps?

[2016-02-24 05:09] arunoda commented on #20
i assume we can close this.

[2016-02-24 05:09] #20 closed

[2016-02-24 05:33] arunoda commented on #38
I'm also seeing it. Will try to fix.

[2016-02-24 14:15] roberto68 commented on #32
or I can use both komposer for lifecycle and also componentDidMount, right?

[2016-02-25 04:15] arunoda commented on #37
Exactly.

[2016-02-25 13:20] ShayMatasaro commented on #33
Yes , I used browserify
Komposer = require('react-komposer');

the code was identical to the meteor sample from the docs :
function composer(props, onData) {
  if (Meteor.subscribe('posts').ready()) {
    const posts = Posts.find().fetch();
    onData(null, {posts});
  };
};
I would then notice that after the subscribe became ready , it would get removed, and any updates to the collection were not

[2016-02-25 21:40] clayne11 commented on #33
I had a similar issue using Meteor 1.2.

When I had composeWithTracker nested under own HOC that used ReactMeteorData the subscriptions would sometimes get stopped. It would consistently happen when I opened a new browser tab going to the site.

[2016-02-25 21:41] clayne11 commented on #25
More info on this:

Using Meteor 1.2 and browserify.

When I had composeWithTracker nested under own HOC that used ReactMeteorData the subscriptions would sometimes get stopped. It would consistently happen when I opened a new browser tab going to the site.

Interestingly enough, when I replaced the ReactMeteorData HOC with another composeWithTracker, it all worked fine. For some reason, though, t

[2016-02-25 21:43] clayne11 commented on #27
Tracker is available at the app level and in several of the packages but I don't necessarily have Tracker as an explicit dependency in every package.

Mongo collections are automatically reactive in Meteor (using Tracker under the hood), but I don't explicitly depend on Tracker every time I use a Mongo collection.

[2016-02-26 02:23] clayne11 commented on #27
I just tried this out again and everything seems to be working. I've done a pretty big clean-up in my codebase so I think the issue was actually with my code not yours. Apologies.

[2016-02-26 02:24] clayne11 commented on #33
My issues seem to be resolved with some refactoring to my codebase. I don't think the issue was related to react-komposer.

[2016-02-26 02:27] clayne11 commented on #8
I actually think it makes sense to have each composer function have it's own loading component since it's possible that you would want to show a different loading screen depending on what data is being fetched.

I have another requirement though that doesn't seem to currently be in scope. I would like to be able to render my loading component using props that are passed into it.

My example is tha

[2016-02-26 02:42] clayne11 opened #40 "Pass props into loading component"
The loading component should receive props so that we can render a loading view that is conditional on the props at this point.

An example is that I would like to render a user's profile photo in the loading component while I am loading other data, however I only have access to that user as a passed in prop.

[2016-02-26 22:48] clayne11 commented on #33
OK I'm actually still seeing this issue. Subscriptions will randomly stop when using composeWIthTracker.

[2016-02-27 00:08] superandrew213 commented on #38
@arunoda ok thanks. Let me know if you need any help. Would like to use mantra on a react-native project.

[2016-02-27 19:39] ndarilek opened #42 "Curry function of composeAll needs an input."
Getting this error a *lot* using react-komposer 1.3.1 as shipped with mantra-core.

I acknowledge that this isn't a very helpful bug report as I can't create an easy reproduction. FWIW, the code that triggers it is:

[code]

And I can't pin down what's causing it. If I change ResetPassword to a dirt simple `<p>It worked</p>` component, I still get the error. If I switch back to a more verbose cont

[2016-02-28 07:59] arunoda commented on #38
Yes. We need some help. If you can find the problem and fix it to work on ReactNative, that's super awesome.

[2016-02-28 20:08] smooJitter commented on #38
@superandrew213, what do you suspect?

[2016-02-28 20:22] arunoda commented on #42
This error comes when you are using `composeAll` and not passing a component.
Here's the related test: https://github.com/kadirahq/react-komposer/blob/5d2d47859384c3cc112f2672ecad1dbb5ab72cca/lib/__tests__/compose_all.js#L30

[2016-02-28 20:27] ndarilek commented on #42
Right, I just wonder if it might be made more helpful. Maybe you could
iterate through the list of passed components and display their names so
I know which composeAll is failing?

I'm dealing with [this
issue](https://github.com/meteor/meteor/issues/6364) which looks like
either a Meteor module failure or something too subtle for me to spot.
But, either way, the code I'm changing is not a compose

[2016-02-29 11:59] superandrew213 commented on #38
@smooJitter not sure. Maybe something to do with babel?

[2016-02-29 17:41] sammkj opened #43 "[Question] SSR and Cleanup"
I don't quite understand this part. Let's say I'm using Mantra, Flow Router SSR and Redux and I have a container that looks like this:

[code]

So, in this case, does that mean that `unsubscribe()` won't get called? should I be worried about this?

[2016-02-29 20:44] clayne11 commented on #33
I've confirmed that using compose() with a Tracker.autorun inside of it works fine.

Using compseWithTracker, which looks like it stops the autorun block on each cycle and then restarts it is causing issues with my subscription getting stopped and started and constantly reloading data.

[2016-02-29 20:54] clayne11 commented on #33
More testing and I think I have come up with the real culprit. When I put Meteor.user() in a compseWithTracker composed on top of another HOC (as in the user gets fetched and passed into the next component to fetch data) I see a lot of issues my subscription constantly re-running. I'm not sure what would be causing Meteor.user() to change so frequently but it seems that it's constantly causing pro

[2016-03-01 07:53] arunoda commented on #43
Yes it won't run in the server. But that won't be an issue.
For SSR, we need to create a new Context from the scratch. Otherwise, there'll be issues related race conditions.

I'm working on a way to deal with this.

[2016-03-01 07:53] arunoda commented on #43
Let's track this here: https://github.com/kadirahq/mantra/issues/11

[2016-03-01 07:53] #43 closed

[2016-03-02 03:35] ndarilek commented on #42
So I have a minimal reproduction of an app that demonstrates this error. It uses mantra-core, and the issue seems to go away when I eliminate a container and render my UI components directly. If I comment out an import for an unused module, my app works. With the import, it crashes with the error in this issue title, and the entire module containing the import fails to load (thus resulting in the

[2016-03-04 15:09] yanivnizry commented on #38
+1 for react-native support

[2016-03-06 02:47] tonyxiao commented on #9
@arunoda I know you definition clarified the reason for this in a separate issue in a different repo. But I can't remember what it is anymore. Could you clarify here again?

[2016-03-06 19:51] JeremySaks opened #44 "Can Tracker be an import?"
I have an issue similar to #27 where `import { composeWithTracker } from 'react-komposer';` gives `Uncaught ReferenceError: Tracker is not defined` unless I first expose `Tracker` as a global.

I'm using 1.3 and bringing in most of my packages through a Meteor wrapper package. If I only do:

[code]

I get `Tracker is not defined` in my composition file (located in a client/imports folder).

If I `

[2016-03-06 23:48] clayne11 commented on #44
The issue with this is that Tracker is not published to NPM as far as I know, so react-komposer can't import it.

[2016-03-06 23:50] clayne11 opened #45 "Pass context as well as props"
I need access to context as well as props in my compose functions.

I propose we add a third argument to the onPropsChange function, so it would be `fn(props, onData, context)`. This way we aren't making a breaking change to the API.

[2016-03-07 18:29] newsiberian commented on #33
Hello, I faced with this issue on with the latest Meteor (1.3-beta-12), and it happens all the time within one of the routes.
repo: [here](https://github.com/newsiberian/33-react-komposer-repro)
##### How to reproduce:
* This is reaction. You'll need to login as admin. Admin login/password will be visible in console after `meteor` (no need to do anything else)
* after login, go to `/shop` route, y

[2016-03-08 00:24] newswim opened #48 "JSFiddle examples seem broken"
I tried importing `import { compose } from 'react-komposer';` and `React-DOM`, however they're still not working for me. Is anyone else getting a similar issue?

[2016-03-08 05:55] newsiberian commented on #33
Hi, @arunoda, could you, please, take a look on this?

[2016-03-09 08:38] arunoda commented on #33
@newsiberian Could you send me a small repo with the bug. It's hard for me to debug this big app :)

@clayne11 can we have a sample repo. I'm keen to find this and fix it.

[2016-03-09 08:46] newsiberian commented on #33
@arunoda, I'm sorry, but can't. I was tried to reproduce this on simple app before publishing this one, and on a simple app `komposer` worked as expected.

[2016-03-10 20:10] clayne11 commented on #33
I seem to have solved the issue. I never had any problem with the ReactMeteorData mixin so I looked at how that was constructed to get some insight.

They wrap their `Tracker.autorun` in a `Tracker.nonreactive` block. By doing this, I was able to fix all of the issues I was having with `composeWithTracker`.

The new `composeWithTracker` function looks like this:

[code]

I'm not 100% sure that the

[2016-03-10 22:09] arunoda commented on #48
Yeah. Seems like CDN links were broken. Updated.
Hope we can close this now.

[2016-03-10 22:09] #48 closed

[2016-03-10 22:50] #33 closed

[2016-03-11 00:32] newswim commented on #48
Thanks!!

[2016-03-11 03:14] JeremySaks opened #50 "Is this the intended behavior for {pure: false}?"
Hi guys. I'm using `react-komposer` with `composeWithTracker` and receiving fewer renders from my composer function than I would expect. Setting `{pure: false}` fixes the issue, only I don't understand why because the props being sent to render are obviously not shallowly equal and should trigger a re-render each time, even without `{pure: false}`. I'm wondering if this is the intended behavior. H

[2016-03-11 03:49] arunoda commented on #50
That's weird. I'll check why.

[2016-03-12 11:36] macrozone opened #51 "pure: true does not work for nested property"
I have composed this container:

[code]

And I call it in a router:

[code]

[2016-03-13 05:18] superandrew213 commented on #38
Has anyone made any progress on this?

[2016-03-13 06:01] superandrew213 commented on #38
@arunoda could it have something to do with the html tags (like <p>Loading...</p>)

[2016-03-14 06:05] superandrew213 commented on #38
Adding mantra-core and react-composer src manually to project seems to make react-composer available. However now I'm getting this:

![screen shot 2016-03-14 at 3 53 54 pm](https://cloud.githubusercontent.com/assets/13059204/13736249/7d4c0804-e9fe-11e5-840d-45fb2a698d63.png)

[2016-03-14 06:58] superandrew213 commented on #38
Removing the option in .babelrc of react-display-name module dose remove the error and mantra-core seems to work.

[2016-03-14 07:54] yanivnizry commented on #38
@superandrew213 can you explain which option did you removed ?

[2016-03-14 08:01] superandrew213 commented on #38
@yanivnizry make sure you are using react-display-name v0.0.1. Latest version is using babel 6 and removing the option doesn't work.

react-display-name v0.0.1  has two options. Remove them both.

[2016-03-14 08:43] yanivnizry commented on #38
@superandrew213 thank you.
@arunoda can you please fix this issue in the next versions ?

[2016-03-14 09:01] arunoda commented on #38
Yeah. We can.
@superandrew213 send me a PR

[2016-03-14 12:28] smooJitter commented on #38
I would love to use Mantra via react-native.  I know you guys are busy but it would be nice to at least have a small list of complication that would need to be addressed. This repo ( spencercarli/react-native-meteor-boilerplate) provides a framework for connecting to meteor from a react-native client via node-ddp.  I also looked at Kadira React Native Demo with GraphQL, which sounds promising but

[2016-03-14 21:10] superandrew213 commented on #38
@arunoda it's just a hack. I manually added both mantra-core and react-komposer source into project root dir and imported the manually added react-komposer in mantra-core.

After doing that I got the error with react-display-name babel options. So I went into the module and just removed the options. (Note you have to downgrade react-display-name to v0.01 if it is higher. It doesn't work with the n

[2016-03-14 22:04] arunoda commented on #38
@superandrew213 Hmm. If that's the issue, let's try to remove `react-display-name`. I'll try with it.

[2016-03-15 15:58] gabriel-dehan opened #52 "Not reacting to changes"
Hello,

I am pretty new to the mantra architecture and react-komposer but I thought that composeWithTracker was supposed to handle reactive changes from Tracker (i.e, I am a navbar component, I am subscribed to 'user.current' and the users log in, I should have my component re-rendered). Maybe I am mistaking (I would love some clarification), but the commit https://github.com/kadirahq/react-kompos

[2016-03-15 16:48] clayne11 commented on #52
The commit you referenced does not remove reactivity. It wraps the `Tracker.autorun` in a `Tracker.nonreactive` so that stopping an outer `Tracker.autorun` does not stop the inner `Tracker.autorun` on the react-komposer container.

This commit is actually a fix to the Tracker reactivity, not taking it away. I would recommend using react-komposer over either of the solutions you suggested. It allow

[2016-03-15 18:43] gabriel-dehan commented on #52
Okay, good to know, thanks !

But then why does it seems that my Component is not reactive ? I have this : https://gist.github.com/gabriel-dehan/17cb83fbb6de95d9ebe8

And when I create a new account, login, logout (through the console) nothing happens and the composer function seems not to be called again (but the subscription data should have changed, and `Meteor.userId()` now returns something e

[2016-03-15 18:59] clayne11 commented on #52
You've set up your subscription to use a callback rather than using Tracker reactivity.

Rather than this:

[code]

you want to do this:

[code]

I think that should fix your issue.

[2016-03-15 19:11] gabriel-dehan commented on #52
It works, thanks !

Wondering why
[code]
did not work then, it seems to me it's pretty much the same thing except that we are checking if the subscription is ready ?

[2016-03-15 19:13] clayne11 commented on #52
I believe you have to call onData with something otherwise the function won't complete properly.

[code]

[2016-03-15 19:17] gabriel-dehan commented on #52
That's it :+1:  I tried with an `else` clause and as long as onData is called it seems to be reactive.

Thanks a lot for your help, I am trying to get my head around all those new concepts :)

[2016-03-15 19:17] #52 closed

[2016-03-16 00:26] THPubs commented on #31
Oh great thanks! (Sorry for the late reply :-) )

[2016-03-16 00:29] superandrew213 commented on #38
@arunoda adding `"react-native": "./dist/index.js",` to package.json fixes everything.

Still need to remove `react-display-name` from `react-simple-di`.

Sent you pr's.

[2016-03-16 00:53] genyded opened #54 "What am I missing - Uncaught TypeError: Cannot read property 'map' of undefined"
I have the following two files and when I put the <CountryList/> on any page I get an error: `Uncaught TypeError: Cannot read property 'map' of undefined` - any ideas?

CountryContainer.jsx:

[code]

CountryList.jsx:

[code]

[2016-03-16 01:00] clayne11 commented on #54
When your if statement evaluates to false you don't return any data thus countries is null. You cannot map over a null value. If you change your `CountryList` to have a default value it will work:

[code]

[2016-03-16 01:15] genyded commented on #54
Thanks... that gets past the error, but then the countries never load (or show Loading... like Komposer says they should). The same query works with getMeteorData, so I doubt it's a data issue. Am I missing something else?

Also the example [here](https://voice.kadira.io/using-meteor-data-and-react-with-meteor-1-3-13cb0935dedb#.v46a4oomy) does not set a default value and I followed that so someone

[2016-03-16 01:25] clayne11 commented on #54
If you want them to show loading you have call `onData` with no arguments:

[code]

In terms of the data not loading, my best guess is that something is wrong with your subscription, not `react-komposer`.

[2016-03-16 01:27] genyded commented on #54
PK - will keep playing and see if I can figure it out - thanks for the fast responses!

[2016-03-16 01:27] #54 closed

[2016-03-16 01:31] clayne11 commented on #51
It definitely the intended behavior - pure works by performing a shallowEqual. Deep equals can be extremely complex and expensive and thus they are not feasible solutions.

The issue here is actually with Meteor - fetching the same record from Minimongo, even if it hasn't changed, is never the same object, so a triple equals will always fail. This means that tons of views get re-run and re-rendere

[2016-03-16 01:48] genyded commented on #54
Just FYI - in case anyone else runs into it... if you're silly like me and import the LIST (or whatever your component is) and not the CONTAINER... you will not get any errors, but you will not get any data either.

[2016-03-16 05:20] arunoda commented on #38
That's cool. I'll take this.
May be we can remove that package from react-simple-di.

I'll do a release now and ping you.

[2016-03-16 05:26] superandrew213 commented on #38
yep removed it already and sent you pr.

[2016-03-16 05:32] arunoda commented on #51
@clayne11 is correct. We only do a shallowEqual. Doing deepEqual is kind a costly for a library like this.
This is not the correct answer, but try using something like immutableJS if the performance really hurts you.

[2016-03-16 05:32] #51 closed

[2016-03-16 06:41] arunoda commented on #38
FYI: Updated `mantra-core` with updated `react-komposer` and `react-simple-di`.
So, you could simply use `mantra-core` in React native right away.

[2016-03-16 06:52] superandrew213 commented on #38
hmm I expected that the react p component would cause an error

![screen shot 2016-03-16 at 4 51 17 pm](https://cloud.githubusercontent.com/assets/13059204/13804302/7d46a8a6-eb97-11e5-9a5a-0bb1ebd196ef.png)

[2016-03-16 07:25] yanivnizry commented on #38
@superandrew213 what are you using for reactivity instead of Tracker ? did you tried https://github.com/aleclarson/tracker

[2016-03-16 07:42] superandrew213 commented on #38
Not yet but will check it out. Right now I'm using redux.

[2016-03-16 08:39] superandrew213 commented on #38
For now you can set your own react-native loading and error components like so: https://github.com/kadirahq/react-komposer#change-the-loading-component

@arunoda maybe we can use `navigator.product === 'ReactNative'` to check. What do you think?

[2016-03-16 08:52] arunoda commented on #38
Yeah. We should try to detect that and load appropriate Loading components in RN.
If `navigator.product === 'ReactNative'` works, we should try to use it.

[2016-03-16 08:54] staskorz opened #56 "[react-komposer-1.4.0 / meteor-1.3-beta.12] _reactKomposer.composeWithTracker is not a function"
I get the following browser console error after upgrading react-komposer from 1.3.3 to 1.4.0:

`Uncaught TypeError: (0 , _reactKomposer.composeWithTracker) is not a function`

Downgrading react-komposer to 1.3.3 resolves the issue.

Meteor version: 1.3-beta.12.
OS: Windows 7 SP1 64bit
Browsers: Chrome 49, Firefox 45 and IE9

[2016-03-16 09:01] arunoda commented on #56
Updated a new version. Try it now.

[2016-03-16 09:14] superandrew213 commented on #38
Yes it works, it was added in react-native v0.17.0.
https://github.com/facebook/react-native/releases/tag/v0.17.0

However to show react-native views and text components we might need to add react-native as a dependency.

[2016-03-16 09:26] arunoda commented on #38
Can't we simply get that RN Text component? If not, we should try to add RN as a peer-dependancy.

[2016-03-16 09:34] staskorz commented on #56
Now I get another error:

![image](https://cloud.githubusercontent.com/assets/1193752/13807677/0a987518-eb6b-11e5-887c-f410d12d5e1c.png)

[2016-03-16 09:41] macrozone commented on #51
Hi Guys,

thank you for your feedback.

Performance is not costly in my case, the problem is, that the loading-component is showing, because the subscription re-runs. Is it possible to prevent the komposer from re-running when the props it is called with are the same?

[2016-03-16 09:53] arunoda commented on #51
You can also set `onData(null, {}) from the every beginning to stop showing the loading container.

[2016-03-16 10:49] arunoda commented on #56
This works for me. Try installing npm modules from the beginning.

[2016-03-16 11:21] staskorz commented on #56
Works for me too after

[code]

Many many thanks!

Wow, the power of opensource! - I've reported an issue and you've published a working release in just 7 minutes! Awesome!! And thanks again!

[2016-03-16 12:41] superandrew213 commented on #38
I'm not sure whether you can get the Text component only.

What you think about this?
https://github.com/superandrew213/react-komposer/commit/64c51e73d0e1f771d35c0fb1764116735e1b9a02

[2016-03-16 16:04] clayne11 commented on #45
Can you please take a look at my PR? I think it's reasonable. It won't affect anyone who isn't using context.

[2016-03-16 16:04] clayne11 commented on #40
Please look at this PR as well, it's very small and has a test as well.

[2016-03-17 14:59] genyded opened #58 "Real World Example"
Are there any plans to provide a real world example? Clocks are cute, but do not provide any insight in to how to apply something like Komposer to real world scenarios with cross cutting concerns. For example, now you you pass something like the current user to ALL dynamic child components (assuming the children change based on the route)?

The provided examples are way to simplistic.

[2016-03-17 15:05] clayne11 commented on #58
`react-komposer` wraps a single component. What do you mean by "ALL dynamic child components"?

If you're looking for a way to pass the user down to all your components, you might consider using [context](https://facebook.github.io/react/docs/context.html).

Fetch the user in your `react-komposer` function, then in the component it is wrapping set it up to pass the user down through context.

Your

[2016-03-17 16:09] #58 closed

[2016-03-18 18:19] patrickml commented on #2
I seem to be having the same issue where shallow compare isn't helping at all.

http://cl.ly/1V0Y1r0m3f0c

in this video, you can see that the props do not change as I am returning the same data every time. With that being said you can also see that using the react console that the components are re-rendering. Any ideas why?

[2016-03-18 18:33] clayne11 commented on #2
Can you post the repo here so we can run it for ourselves?

[2016-03-18 18:35] patrickml commented on #2
Sadly i cannot,

i will try and make a repo to replicate the issue however — it will be sometime this weekend.

Thank you,

Patrick Lewis

828.461.6433

On Fri, Mar 18, 2016 at 2:33 PM Curtis Layne

<
mailto:Curtis Layne <notifications@github.com>

Can you post the repo here so we can run it for ourselves?

—

You are receiving this because you commented.

Reply to this email directly or
https://g

[2016-03-22 13:14] arunoda commented on #58
@genyded context is the thing you may need.
You may try this as well: https://github.com/kadirahq/react-simple-di

[2016-03-23 01:57] #27 closed

[2016-03-23 02:07] lyquocnam commented on #56
@staskorz ya, @arunoda  work so hard, good to follow him with meteor :+1:

[2016-03-23 04:02] arunoda commented on #56
Oka guys. Hope we can close this issue.

[2016-03-23 04:02] #56 closed

[2016-03-24 06:02] hyperh opened #60 "Cleanup function is being called a lot"
I find that the cleanup function is always being run in my containers, even though the Component in the container hasn't been removed from the screen.

The docs say `It needs to cleanup resources (like subscriptions) when the container is unmounting.` So I assume the cleanup function is only run when the container is unmounting. Which means that the container is being constantly unmounted and re-m

[2016-03-24 09:08] arunoda commented on #60
That's because it's running when you are receiving new props.
I assume this is also related to this: https://github.com/kadirahq/react-komposer/issues/2

[2016-03-24 09:11] hyperh commented on #60
Does the context changing count as receiving new props? For example, if Collections.Notes (which isn't used in this container) has a changed document, does this container still get the new Collections.Notes prop?

[2016-03-24 09:20] arunoda commented on #60
Since context is a function, it won't have an issue. I don't think changing something inside a collection has an issue for this.

But, when your routes are changing, it's possible to run these again and again. I've some plans to stop this. I'll work on a fix.

[2016-03-25 09:55] hyperh commented on #60
So the composer function re-runs whenever my route changes? Which means my Component that the Container wraps receives new props from onData?

[2016-03-25 15:48] clayne11 commented on #60
Anytime your component receives new props it will run the cleanup function and then resubscribe to the data.

[2016-03-27 01:05] markoshust opened #61 "unable to resolve some dependencies"
I'm getting the following error in meteor 1.3-rc.12 (final release candidate for 1.3).

[code]

It appears this is the desired entry point for the main script, however this file doesn't exist.

[2016-03-27 23:18] mrisoli commented on #61
I am also having this problem, as of rc.13, found while using the mantra sample app

[2016-03-28 02:35] arunoda commented on #61
Try to update react-komposer to the latest version. (`1.4.1`).

[2016-03-28 10:52] markoshust commented on #61
thank you, that worked

[2016-03-28 10:52] #61 closed

[2016-03-28 12:06] newsiberian opened #62 "Komposer stops app background computations"
Hi, in situation when we have an app with some background logic we are facing with a bug when `komposer` are stopping our background computations in [this line](https://github.com/kadirahq/react-komposer/blob/master/lib/index.js#L158).

In my case I have a logic which loads `locale` from server -- heavy method. We are using
[code]
 to work with `locale`. It begins loading on `Meteor.startup`, but

[2016-03-29 14:59] smooJitter opened #63 "[solved]After upgrading to Meteor 1.3"
Komposer hangs on loading after upgrading to meteor 1.3.   So far I've tried upgrading to 1.4.1 but that did not solve the problem.  Any suggestions on how can find what's blocking the subscription.

`
import PostList from '../components/postlist.jsx';
import {useDeps, composeWithTracker, composeAll} from 'mantra-core';

export const composer = ({context}, onData) => {
  const {Meteor, Collections

[2016-03-30 03:11] arunoda commented on #63
Okay. I think we can close this now.

[2016-03-30 03:11] #63 closed

[2016-03-31 17:48] nickpolet opened #65 "Meteor client side collection"
Trying to use this with a client side collection with meteor. Are there any required steps to get this working? I have used react-komposer for server/client collections, but not client only.

[2016-03-31 20:46] emmanuelbuah opened #66 "Feature request: include actions as well"
Komposer is great but it solves only half the story of component connectivity to the outside world. Current, kompose only handles pushing data to component via props but doesn't handle translation of component triggers to state change.

Similar to redux connect, I think kompose should inject trigger actions into components to close the loop. Here's an example of what might be.

``
import {composeW

[2016-04-01 03:18] ndarilek opened #67 "Possible to assign a ref to UI component?"
Trying to refactor a component to a contained/pure pair. This is a web RTC component, so at some point I need to attach audio/video streams to `<video/>` elements contained in the UI. In order to keep the component pure, this needs to be done in the container logic.

Is there any way to render the UI component with a known, fixed ref? Then I could call this.refs.ui.refs.localVideo or this.refs.ui.

[2016-04-01 06:01] arunoda commented on #67
Hmm. Not sure.

But the container component does not about the UI component and it doesn't store the ref. I sure you can directly do this inside the UI component. Just use container for data fetching.

[2016-04-01 06:03] arunoda commented on #66
We have a project for that. See: https://github.com/kadirahq/react-simple-di

We use a similar pattern in Mantra: https://github.com/kadirahq/mantra
And here's a sample code: https://github.com/mantrajs/mantra-sample-blog-app/blob/master/client/modules/core/containers/newpost.js

[2016-04-02 03:43] TimFletcher commented on #45
Isn't `context()` already a attribute of `props`? If you do a `console.log` of the props argument then you should get something like this:

[code]

Where `mode` and `cdnUrl` are props passed to the component in my example.

[2016-04-02 04:00] clayne11 commented on #45
I'm talking about the React [context](https://facebook.github.io/react/docs/context.html) not the Mantra context and no it's not.

[2016-04-02 04:27] TimFletcher commented on #45
Gotcha. I didn't realise you mean the React context.

[2016-04-02 20:33] gabriel-dehan opened #68 "Nested form `willReceiveNewProps` calls the cleanUp function, reseting the LocalState"
Hello there,

Not sure about the title, the problem is quite specific ~

Issue probably related to #2.
I have this setup with a modal component and inside it a form component. When I click the modal button, the underlying form is submitted through a props change + a willReceiveNewProps in the form.

From what I understand :
When I click the modal button, it sends a new prop (`didSubmit`) to my for

[2016-04-05 03:51] SachaG opened #69 "How would you make the child component dynamic?"
The default Meteor React Komposer example uses:

[code]

Where `PostList` is static. In other words, this given container component will always use `PostList` as a child component.

Now I'm trying to port [React List Container](https://github.com/meteor-utilities/react-list-container) to React Komposer, and one of the requirements is that you can pass the child component as props to the list conta

[2016-04-05 03:57] queso commented on #69
Are you sure DocumentContainer is being passed props?

[2016-04-05 04:04] arunoda commented on #69
This is bit wrong:

[code]

Here, you need to return a react element, but now you are returning a React class.

[2016-04-05 04:04] SachaG commented on #69
@arunoda yeah exactly! So how do I return an element instead? Or, how to I use whatever `composeWithTracker` returns inside a component?

[2016-04-05 04:11] arunoda commented on #69
You can simply do it like this:

[code]

[2016-04-05 04:18] SachaG commented on #69
But then `ListView` is not dynamic? Unless I'm missing something?

[2016-04-05 04:49] minfawang commented on #65
`composeWithTracker`  primarily just wraps a `Tracker.autorun` around the function you provided to make it reactive. So it should be no problem using it with a client side collection.

[2016-04-05 06:35] SachaG commented on #69
So I've been trying this:

[code]

And it works a little better (`documentComposer` gets the props) but it still throws:

[code]

[2016-04-07 22:22] benwalks commented on #69
I'd appreciate some help too.  I've got a pretty generic container that I'd like to pass a component via FlowRouter.  I could just create a new container for each separate component, but it's not very DRY.

[2016-04-07 22:48] kachkaev opened #71 "Update to react v15.0"
See https://facebook.github.io/react/index.html

After upgrading to react@15.0.0 npm starts complaining:
[code]

[2016-04-07 23:41] arunoda commented on #71
Will work on this for sure.

[2016-04-09 11:40] arunoda commented on #71
Updated. Use `v1.8.0`.

[2016-04-09 11:40] #71 closed

[2016-04-09 16:45] dulguun0225 opened #72 "Composer functions that depend on prop provided by other composer functions"
Is it possible with react-komposer?

`composerA` does `onData(null,{a});`
`composerB` does `if(a) onData(null,{bs}`

[code]

Full SO question in detail.
http://stackoverflow.com/questions/36519195/react-komposer-composer-functions-that-depend-on-prop-provided-by-other-compose

[2016-04-09 16:53] #24 closed

[2016-04-09 18:42] dulguun0225 commented on #72
composeAll composes the functions from right to left. If you depend on a prop from componentA in componentB you need to put componentB above componentA:

[code]

[2016-04-09 18:42] #72 closed

[2016-04-11 08:37] cellog commented on #69
that horribly unclear error appears for me when the element I am creating has not been imported (required) into the current module, or when the module that should be exporting the element has not been exported due to error on my part.  So you may need to import all of the possible react classes to make it work.

[2016-04-11 08:39] cellog opened #73 "reverse params to onData()?"
Hi,

as a new user for react-komposer, I ran into a snag.  I called onData(props) with no error.  The error message was something about passing in an Error object, which was very confusing.  It took me 45 minutes to realize I needed to pass in null for an error object.

It seems to me, passing an error is much less likely to be as common as passing in props.  Why not reverse the order of parameter

[2016-04-11 20:13] cellog commented on #40
+1

[2016-04-13 08:14] nmaro commented on #8
+1

[2016-04-14 14:08] MasterAM commented on #73
Actually, the convention for node.js callbacks is sending an `error` as the first argument and the data as the second, so this pattern is familiar to many of the developers using node.

Here's a [nice blog post](http://fredkschott.com/post/2014/03/understanding-error-first-callbacks-in-node-js/) about it.

[2016-04-15 01:37] zhaoyao91 opened #74 "Unexpected refresh when use composeWithTracker with react input when type in chinese"
when you save input state into local state(ReactDict) as mantra demo show, the text behaves unexpectedly when type in chinese. the incomplete input is recorded, which is incorrect.
if I save the state into react state, there is no such problem.

[2016-04-18 16:12] pricetula opened #75 "Install failed with react 15"
Installation failed when i upgraded to these react dependencies :-
"dependencies": {
    "react": "^15.0.0-rc.1",
    "react-dom": "^15.0.0-rc.1"
  }
while installing -> npm install react-komposer I get the error below.

npm WARN peerDependencies The peer dependency react@^0.14.3 || ^15.0.0 included from react-komposer will no
npm WARN peerDependencies longer be automatically installed to fulfill

[2016-04-24 09:45] olecrivain commented on #40
+1 !

[2016-04-25 02:22] onthebeachh commented on #3
have you solved this issue? I'm facing the same problem :)

[2016-04-25 17:28] PolGuixe commented on #8
+1

[2016-04-26 02:49] SachaG commented on #69
Any input on this @arunoda ?

[2016-04-26 06:39] ansonla3 opened #76 "Error :Should provide a child component to build the higher order container."
**ListPostsContainer.js
**`import {composeWithTracker} from 'react-komposer';
import { Topics } from '../../lib/collections/Topics.js';
import ListPosts from '../components/post/ListPosts.jsx';

const composer = (props, onData) => {
  const handle = Meteor.subscribe("topics");

  if (handle.ready()) {
    const postsList = Topics.find().fetch();
    onData(null, {postsList});
  }
};

const Contain

[2016-04-29 19:49] Narzerus commented on #72
This got me confused as well, shouldn't this be running the other way around? I kinda understand WHY it happens, but it is a behavior no one expects and is counter-intuitive

[2016-04-30 08:12] dulguun0225 commented on #72
Even after figuring out the order, it had some strange behavior that I couldn't remember atm. Then I ended up using single big composer function.

[2016-05-03 19:43] VenelinPetkov commented on #76
I am facing the same problem.... It is really strangely as I have two containers for one it is working (without props) and for the other (with props) it is not working. Do you have any progress?

[2016-05-03 20:23] VenelinPetkov commented on #76
FYI, I simply move the composeWithTracker at the end of the definitions of the componets and it worked... No comments...

[2016-05-04 01:46] fabiokandrade commented on #50
The same for me. But it seems to be happening only with Meteor.status().
Has this happened in other cases for you @JeremySaks ?

[2016-05-04 03:23] JeremySaks commented on #50
I'm seeing it in other circumstances too, but I haven't found a pattern.
Right now I'm adding `{ pure: false }` to every reactive container.

[2016-05-04 18:10] thiagodelgado111 commented on #40
Any plans on merging that one into master?

[2016-05-13 02:17] SachaG opened #77 "Waiting on Meteor Method data, with Flow-Router SSR and Fast-Render"
This is a complex issue but I'll try to describe it. With collection data, we have the following flow:

- Subscribe in React Komposer.
- Flow-Router SSR gets the data on the server and generates markup.
- Fast-Render gets the data on the server and injects it in the document.

This means that when the user loads the app, A) the page is immediately populated with the server-generated markup and B)

[2016-05-13 02:30] SachaG commented on #77
OK, so I think the solution is to use the [inject-initial](https://github.com/meteorhacks/meteor-inject-initial) package instead of methods, in order to make the data available right from the start.

The only problem is that I don't see a way to send authenticated data using this method (i.e. data that is not part of a collection, but is only available depending on the current user) but it shouldn

[2016-05-17 21:50] mgarf opened #78 "Compiling Komposer into App with Rollup throws "Does not Export Compose""
I was trying to bundle React-Komposer into my react project but when I try to use CommonJS & Node Resolver to import it, I get thrown the following error:

[Error: Module C:\Users\*******.******\Desktop\*******\JSApps\node_modules\react-komposer\index.js does not export compose (imported by C:\Users\*****.******\Desktop\*******\JSApps\containers\******UI.js)]

[2016-05-19 13:56] wormyy opened #79 "Dedicated composer for redux"
Hello, what do you think about having a `composeWithRedux` dedicated method like [react-komposer-redux](https://github.com/sammkj/react-komposer-redux) provides? I think it would DRY up little bit the composers. I would submit a PR if you think it is a good idea.

[2016-05-19 17:18] wormyy commented on #78
How are your importing the `react-composer`?

[2016-05-19 18:10] mgarf commented on #78
import {compose} from 'react-komposer';

[2016-05-20 15:56] newswim opened #80 "Using custom 'loading' component with composeAll"
I'm attempting to add a custom 'loading' component to one of my containers. My export statement is differs from the example quite a bit and I'm using composeAll . . I do see the standard "Loading . . ." content, but my custom component isn't showing up. Here's my compose function:

[code]

Is there a particular pattern I need to use in order to override the default loader?

Note that I'm not passi

[2016-05-21 18:24] timbarclay commented on #69
I think I've got the same issue as @SachaG and @benwalks. I've got a komposer container that I want to be able to use with whatever components I pass in. I can't find a way to pass the component I want to the function that gets returned by `composeWithTracker`.

[2016-05-23 08:55] markoshust commented on #4
I need to pass props through the container to child components, however it appears that any prop change sent to the container still triggers a rererun.

I looked through the code, and am looking for best way to implement this. Would it make sense to create a new prop, sort of like `pure`, which is named `shouldComponentUpdate`, and if that prop exists, return that function instead of what's return

[2016-05-23 09:32] markoshust commented on #4
Just submitted a PR for a start. This adds a new option `shouldComponentUpdate`, which receives a function that acts like standard shouldComponentUpdate, except instead of `nextState` as 2nd param, it is `props` (this.props).

This only half solves my problem. Is there any way to "pass-through" a param to the child component without triggering a rerun on the container component? I'd like to not re

[2016-05-23 17:05] newswim commented on #80
I think this came from not importing React in my container file. Closing.

[2016-05-23 17:05] #80 closed

[2016-05-27 18:59] flexlee opened #81 "dispatch action in componentDidMount () doesn't get picked up by onData() immedaitely"
Trying to implement a clock component. Once the component is rendered, I wish it to immediately show current time. I have this component:

[code]
 and container code:
[code]

However, the store update resulted from the action dispatch in componentDidMount() doesn't get picked up by ```onData(null, { time: time.toString() });```. I guess it was loaded before ```componentDidMount()``` and ```Store.s

[2016-06-02 16:16] newswim commented on #40
I'd really love this feature, what's preventing #47 it from being merged?

[2016-06-03 18:14] achtan commented on #8
+1
please

[2016-06-04 12:13] amitava82 commented on #45
Any update? I'm trying to use react material-ui which passes stuff down through context and it's not working.

[2016-06-09 16:39] anothermohit opened #82 "Rerendering nested container after subscription data"
I have a DraftJS instance which is receiving it's initial state from a Mongo Subscription sitting in a parent container - `export const composer = ({context, clearErrors, contentId}, onData) => {
  const {Meteor, LocalState, Collections} = context();
  if (Meteor.subscribe('contents', contentId).ready()) {
    const contentObject = Collections.Contents.findOne(contentId);
    onData(null, {content

[2016-06-10 15:37] todda00 opened #83 "Cannot wrap composer with another function"
I am trying to set a default loading and error component for my components, and I know a proper default isn't available (requested at #8 ) so I am trying to wrap the composeWithTracker with another function which adds the loading and error components so I don't have to import and include them for each container.
[code]

When I do this I get the following error:
`Uncaught Error: Composer should be

[2016-06-10 16:00] todda00 commented on #83
I figured out I can successfully wrap the composeAll function which is even better since now all I have to import is the customComposer and that handles all the mantra-core imports and adds my Loading and Err components automatically. Here is my entire container for reference if anyone else finds it helpful:

[code]

and my customContainer and checkAccess export:
[code]

[2016-06-10 16:00] #83 closed

[2016-06-10 19:10] Goluis commented on #82
I am not an expert, but I think I can help.

see 2 solutions, this is the first and the simplest:
[code]

The other solution is using 2 composer:
[code]
`errorComposer` runs when `composer` is ready, meaning that only when the subscription is ready.

[2016-06-11 07:15] anothermohit commented on #82
Thanks for the time @Goluis . Actually, I am not yet sure how but this worked for me yesterday -

`  if (!postId) {
    onData(null, {});
  } else if (Meteor.subscribe('posts.single', postId).ready()) {
    const post = Collections.Posts.findOne(postId);
    onData(null, {post});
  } else {
    const post = Collections.Posts.findOne(postId);
    if (post) {
      onData(null, {post});
    } else {

[2016-06-11 14:06] shoetten commented on #67
I have a similar issue. I'm trying to access the public API of an underlying UI component via ref.
But since the ref points to the container component, i cannot access the functions of the UI component.
Is there any way, to access the UI component via a reference, or am i tackling this from the wrong way entirely?

[2016-06-13 15:18] minfawang commented on #67
@shoetten This article describes exactly this use case: https://medium.com/@erikras/the-hoc-drill-pattern-a676a3889ced?source=linkShare-9614e68f389f-1465831073

[2016-06-14 00:32] higv2000 opened #84 "How to get key value through callback on props in react komposer?"
I am trying to get the key value associated with user selection on a list in dataList -- the data in dataList is populated through a container and composed through react-komposer.

In the parent component,
<ContainerDataList orgName={this.state.orgName} onOrgSelect={this.onOrgSelect.bind(this)}/>

In the container .js file,

import {composeWithTracker} from 'react-komposer';
import OrgNamesDataLis

[2016-06-18 09:59] schabluk commented on #69
I have replicated the issue here: https://github.com/schabluk/react-komposer-issue-69

[2016-06-19 20:37] dulguun0225 opened #86 "Detect state change in composer function"
Is it possible to detect state change of a component in composer function?

[2016-06-21 12:44] lmachens commented on #77
Can you take a look at https://github.com/kadirahq/flow-router/issues/655 ?
Looks like it is a similar problem.

[2016-06-22 05:22] arunoda commented on #86
Could you give us more information on this?

[2016-06-22 05:28] arunoda commented on #81
There's no big issue with the general lifecycle hooks. if you call `onData` on the top of the composer, you component get's data via proper immediately. After that, every call to onData will result in getting data.

[2016-06-22 05:30] arunoda commented on #79
Yeah. Send a PR.
@sammkj any specific reason about the fork? https://github.com/sammkj/react-komposer-plus

[2016-06-22 05:33] arunoda commented on #76
Not sure this is still there. Open this with an example repo, if the issue is already there.

[2016-06-22 05:33] #76 closed

[2016-06-22 05:33] arunoda commented on #75
Hope this is good.

[2016-06-22 05:33] #75 closed

[2016-06-22 05:34] arunoda commented on #74
Looking forward for a example repo for the case.

[2016-06-22 05:34] #74 closed

[2016-06-22 05:35] arunoda commented on #73
closing as already answered.

[2016-06-22 05:35] #73 closed

[2016-06-22 05:36] arunoda commented on #65
I think this is already answered.

[2016-06-22 05:36] #65 closed

[2016-06-22 05:37] sammkj commented on #79
hey @arunoda I'm testing and working on a way to load ddp data into redux store (skip minimongo). Hence, the fork. If you would like, I can submit a PR on this once I'm done.

[2016-06-22 05:42] arunoda commented on #79
Okay. If that's purely a composer, I think it's better to publish it as a direct NPM module.
For here, I'd like to get a plain redux composer.

[2016-06-22 05:42] arunoda commented on #79
Anyway, @sammkj  I'd like to link your reducer in the README may be in a section called "Additional composers."

[2016-06-22 05:44] arunoda commented on #60
This is by design and we could see some improvements with https://github.com/kadirahq/react-komposer/issues/2

[2016-06-22 05:44] #60 closed

[2016-06-22 05:46] arunoda commented on #44
As @clayne11 mentioned, we can't do this for now. I hope we can come back to this after Meteor 1.4.

[2016-06-22 05:48] arunoda commented on #38
Closing this since, we already support RN. But, we need to provide loading components manually. That's bit of an issue. We could fix this with #8

[2016-06-22 05:48] #38 closed

[2016-06-22 07:49] #40 closed

[2016-06-22 08:52] dulguun0225 commented on #86
As of now we can already detect props change inside a composer function, right? I was wondering if there could be same thing for state, but only read only access to components state.

[2016-06-22 16:35] clayne11 commented on #67
I think we should add the ability to add a ref to the underlying component. I'm going to add a PR.

[2016-06-22 16:56] arunoda commented on #67
@clayne11 great. Thanks. I'll get your other PR as well.

[2016-06-22 18:11] clayne11 commented on #67
PR is done.

[2016-06-23 04:30] sahanDissanayake commented on #77
So @SachaG did you find a solution please ?

[2016-06-23 04:39] SachaG commented on #77
I did find a workaround, see above.

[2016-06-23 04:44] sahanDissanayake commented on #77
So with React FlowRouter SSR initial data is already injected to the page. so I dont know why I should use something like this again ?

Did you had the same issue as described here ? https://github.com/kadirahq/flow-router/issues/655

[2016-06-23 04:45] sahanDissanayake commented on #77
``<script type="text/inject-data">%7B%22fast-render-``

[2016-06-23 04:55] SachaG commented on #77
FlowRouter SSR will inject two things:

1) the HTML markup
2) the initial collections data (via fast-render)

My use case was that I needed to access some other arbitrary piece of dynamic data that was not stored in a collection. So it's different from the issue you refer to, which concerns collection data.

[2016-06-23 04:56] sahanDissanayake commented on #77
Right. Ok thanks.. I knew 30% my issue would be different.

[2016-06-23 12:13] #45 closed

[2016-06-23 12:43] #8 closed

[2016-06-23 12:46] arunoda commented on #8
Implement this and released with `v1.11.0`.
See docs: https://github.com/kadirahq/react-komposer#change-default-components

[2016-06-26 11:48] sahanDissanayake commented on #2
Anything new with this ?

I have facebook like layout. 100 posts 1 like button on each post. when one like button is clicked. the composer function for the like button is running 100 times before the like actually takes place.. it sucks.

[2016-06-26 12:28] sahanDissanayake commented on #2
Not sure if I'm having this same issue but the one i have is an issue. Once the data gets big enough there is a huge lag because of all the computations

Anyone ever come across this ?

[2016-06-26 12:57] sahanDissanayake commented on #2
Is this the only solution ? https://atmospherejs.com/meteor/react-meteor-data

[2016-06-27 00:27] sahanDissanayake commented on #4
Whats the status of this ? is there a solution? https://forums.meteor.com/t/react-komposer-render-crazy-mounts-of-times-when-collection-updated/25518/3

[2016-06-27 00:49] sahanDissanayake commented on #50
there is a bug related to this issue maybe ?
https://forums.meteor.com/t/react-komposer-render-crazy-amounts-of-times-when-collection-updated/25518/3

[2016-06-27 06:06] arunoda commented on #50
Hi guys, sorry for the delay. This is a bug, bug we are not responsible for this.
Here you directly pass the object returned by `Meteor.status()`.

So, what's happen is we assign this object in the component state. When there's a change, we compare that with the new one.

But here, Meteor update this reference object itself. So, in the shallowEqual stage, both objects are the same. (This is true,

[2016-06-27 06:06] arunoda commented on #50
@sahanDissanayake This is not related.

[2016-06-27 06:11] arunoda commented on #2
@sahanDissanayake your issue is not related to this. It seems like a reactive issue.
Just create a new issue with a sample repo.

[2016-06-27 06:13] sahanDissanayake commented on #2
Sorry to mention my issue everywhere.. I will create a new repo in another 4 hours or so and will create a new issue and ping you. Thanks

[2016-06-27 07:50] sahanDissanayake opened #89 "[BUG] Reactive rendering Gone-Wrong !!"
@arunoda Created the repo here to replicate.
https://github.com/canalcasting/IssuFixFrontend/
( Hope I added you properly on github, FYI. Please keep this code secure as this is very sensitive. 👼  )

To be honest I could not replicate so I had to remove most of my code to show you the barebones of the app.

I think this is a bug. Using Meteor version 1.3.2.1 I had an issue with SSR not working wit

[2016-06-27 10:02] sahanDissanayake commented on #89
@arunoda

[2016-06-27 17:08] Tetraib commented on #66
Can't we directly send the actions using props with Komposer ?

[code]

[2016-06-28 00:30] sahanDissanayake commented on #89
@arunoda  did you get a chance to look at this please ? if not could tell me when you'd be able to look at it. So I can make my plans around the bug :)

[2016-06-28 02:48] arunoda commented on #66
@Tetraib you are right. You can do that too.
You can pass anything to props.

Also, have a look at the `composeAll` utility as well. You can bind props using that.

[2016-06-28 02:49] arunoda commented on #89
I'll do this today. (In daytime).

[2016-06-28 08:19] macrozone commented on #86
React-komposer does not detect props-change, maybe there is a misunderstanding.

Additionally, you never have access from "outside" to a component's state, so that also makes little sense to me. Maybe you can explain what you want to achieve with this 👍

[2016-06-28 08:24] macrozone commented on #84
can you fix the code-indention? this would make it easier to read. Also there seems to be missing pieces, so I don't know exactly what the problem is.

[2016-06-28 11:29] dulguun0225 commented on #86
I wanted to shorten this chain "component -> action -> ReactiveDict -> container" into "component -> container".

For example if I wanted to set the ordering

1. component calls action
2. action does the ReactiveDict.set('ordering', 'asc')
3. container reads ReactiveDict.get('ordering')

this could be lot shorter if

1. component does this.setState({ordering : 'asc'})
2. container reads value of t

[2016-06-28 11:45] Tetraib commented on #66
@arunoda you mean with one composer for datas and an other one for actions ?
[code]

[2016-06-28 17:27] merlinpatt opened #90 "Error not rendering"
I have this code inside a composer to render an error in my app. I'm successfully entering the if statement and printing the error to the console. But for some reason, the error is not rendering in place of the component. Instead, my app continually displays the loading component.

Any ideas?

[code]

[2016-06-30 07:43] sahanDissanayake commented on #89
Not pushing you or anything Arunoda, But do you have an ETA please ?

Thanks

[2016-06-30 10:22] danieljvdm opened #91 "Page flashes when changing route"
When my route (React Router) changes, my page flashes for a split second. My other page (which doesn't have live data) doesn't flash. Any ideas?

[2016-07-01 10:29] PolGuixe commented on #8
Where is the best place to define and set this components?

Inside `client/modules/core/configs` I have created a file called `react-komposer-configs.js`, where I define and set the loading and error component. Then this is imported and called in the `configs` folder `index.js`, which is imported and called from the `index.js` core folder. **However it is NOT working**

I made a gist https://gist.

[2016-07-01 12:53] markoshust commented on #79
Definitely think there is a need for a `composeWithRedux` inside `react-komposer`, if for nothing else than to get rid of the `subscribe()` and initial onData call.

[2016-07-01 13:13] markoshust commented on #79
How would one grab `context()` from mantra from within a custom `composeWithRedux` function? I should have a PR back shortly after knowing this as it should be very simple.

[2016-07-01 14:16] sammkj opened #92 "State, context, component lifecycle like recompose?"
[`recompose`](https://github.com/acdlite/recompose) already has very simple implementation in place. I wanted to make my components more functional so I extracted a few from the package and modified it to fit `react-komposer`. I will be adding more features if needed

See [here](https://github.com/sammkj/react-komposer-specs). Would you like to add that into `'react-komposer`?

[2016-07-01 15:11] markoshust commented on #79
Just sent a PR. This is a very basic helper for Redux that avoids the need to call onData twice (and needing `subscribe()`.

I'm using this with Mantra. Here is sample usage:

[code]

By default it will look in context prop for `Store` object. The name can be overridden by passing in a `storeName` options param, and the store itself can be passed in as an option:

Custom name:
[code]

Passing in s

[2016-07-02 18:46] rafaelcorreiapoli commented on #8
I'm also facing issues with this. I set the default components but I get an error telling me that I "Should provide a loading component in react native"

[2016-07-02 18:49] clayne11 commented on #8
There's a bug in the current implementation that doesn't allow for setting of default loading and error components in React Native.

https://github.com/kadirahq/react-komposer/blob/master/lib/compose.js#L22

I would open a separate issue for this.

[2016-07-02 22:34] rafaelcorreiapoli opened #94 "Issues when using with react-native-router-flux"
Hello! I'm having some issues when u sing with react-native-router-flux
I think there are two critical points:

- When a scene changes, componentWillUnmount is not called, therefore, the function to stop the subscription does not stop.

- The Router is passing a lot of props to my components, so whenever I change routes, the function of all containers rerun because of props changes (I'm not sure a

[2016-07-03 05:23] arunoda commented on #8
@clayne11 yes. Would love to see a PR as well for that.

[2016-07-03 20:55] markoshust opened #95 "compose doesn't render on mobx observables"
MobX observable changes don't automatically re-render, due to their automagical capabilities. Need to create custom composer for MobX which wraps propsChange within an autorun.

[2016-07-03 22:06] sahanDissanayake commented on #89
@arunoda did you had a chance to look at this repo and the issue that was mentioned ?
Thanks

[2016-07-04 03:07] #67 closed

[2016-07-04 08:56] sahanDissanayake commented on #89
@arunoda did you had a chance to look at this repo and the issue that was mentioned ?
Thanks

[2016-07-04 10:40] PolGuixe commented on #8
Is it working for normal react as well? I am having issues.

[2016-07-04 14:59] cannonstar opened #98 "Getting kuruonin:pagination to work with react komposer"
I've crossposted this to https://github.com/Kurounin/Pagination/issues/7, but I'm hoping to find some help here too since this is fairly more active...

I'm using Meteor 1.3.4.1, kurounin:pagination 1.0.9, and react-komposer 1.8.0 (npm package).

So here's my code for instantiating the pagination within composer function:

[code]

Is this the proper use for React Komposer? I noticed that the Pagin

[2016-07-04 20:25] cannonstar commented on #98
Fixed via https://github.com/Kurounin/Pagination/issues/7#issuecomment-230347253

I'll close this.

[2016-07-04 20:25] #98 closed

[2016-07-05 22:04] clayne11 commented on #92
Why wouldn't you just use `recompose`?

[2016-07-06 20:56] #91 closed

[2016-07-06 21:04] danieljvdm opened #100 "getWrappedInstance not available with composeWithTracker"
I use this following code:

[code]

and when I print out `this.refs.transferModal` in the parent there is no `getWrappedInstance` method available.

[2016-07-09 02:13] clayne11 commented on #100
Is the `TransferModal` component a class-based React component? Functional components cannot have `refs`.

[2016-07-09 08:44] danieljvdm commented on #100
Yes it's class-based. I just refactored that specific class to use Redux
instead of react-komposer and without editing the dumb component at all,
the ref works.

On Sat, Jul 9, 2016 at 4:13 AM Curtis Layne <notifications@github.com>
wrote:

[2016-07-09 13:45] mkdbns opened #103 "Should mobx be moved from devDependencies to dependencies in package.json?"
As of the last release, we are seeing the following error in the browser console for our application:

`Uncaught Error: Cannot find module 'mobx'`

Coming from:

`node_modules.react-komposer.dist.composers.with_mobx.js`

Adding mobx to our dependencies seems to resolve the issue. Seems like mobx should be moved from devDependencies to dependencies in your package.json?

[2016-07-09 19:24] arunoda commented on #103
Yes it is.
I am working on it.

[2016-07-09 21:00] arunoda commented on #103
This should be fixed with the latest release. Update the package.

[2016-07-09 21:00] #103 closed

[2016-07-12 11:23] mzygmunt opened #104 "[BUG] Child component isn't rerendered by parent's context change"
Hello,
Today I noticed followind issue: when child was wrapped by compose component, then child isn't rendered by the change of parent's context.
Here is an example https://github.com/mzygmunt/komposer-issue.
Thank you for your hard work on react-komposer!

[2016-07-16 01:36] mbabauer opened #105 "Default loading component causes null pointer with React DND"
I am trying to setup a draggable component using [React DND](https://github.com/gaearon/react-dnd), but I am running into an issue.  I opened an [issue over there](https://github.com/gaearon/react-dnd/issues/468), but after digging deep into the stacktrace, it looks like the issue might be in react-komposer.

Details in in the other issue, but what I found is that the `DefaultLoadingComponent` cre

[2016-07-18 15:00] sahanDissanayake commented on #89
Hey Arunoda,
You must be busy in states ⛅  🇺🇸

Do you think you could give me an ETA on this issue please ? a month ? maybe ?

Thanks

[2016-07-18 15:13] macrozone opened #106 "Testing: When a component contains a container as child, enzyme will call the depsMapper function."
I have a component that contains a komposed container

[code]

If I test this with enzyme, it will crash, because it runs MyContainer's compose function that uses actions or other things from the context which isn't available on test.

Any idea?

[2016-07-18 15:54] sahanDissanayake commented on #89
Here we go @arunoda

I started from kadira-samples/meteor-react... and I re-created the re-render issue here
https://github.com/canalcasting/re-render-bug-simplified/invitations

Please let me know if you'd like to help me and fix this issue

[2016-07-18 16:03] sahanDissanayake commented on #89
Hi @arunoda

I've simplified the issue here
https://github.com/canalcasting/re-render-bug-simplified/invitations

The code should be so easy to understand since it is 80% your's 👍

Hope to hear from you soon, Lets see why this is happening !!

[2016-07-18 21:47] clayne11 commented on #106
You can [stub](https://github.com/kadirahq/react-komposer#stubbing) the container or you can create a separate container component and test the inside component with `props` that don't depend on the container.

The whole point of the container concept is to separate the data-fetching concerns from the rendering concerns.

You should be testing the component with plain data.

[2016-07-18 23:59] sahanDissanayake commented on #89
Ok I think I found  A solution.

I added ``shouldComponentUpdate()`` to the most top component. So no there are no more re-renders on the children.

I think this is the way to go. But I will leave this open for a prop advise 👍

[2016-07-19 12:39] macrozone commented on #106
I am aware of this.
The problem is, that i am testing a component that contains a container-component as child.
The component under test itself is just a component, not a container.

E.g. the component under test is MainLayout:

[code]

MyContainer in this sample just happens to be a container. It should not matter if it is a component or a container. When I test MainLayout i just want to make sur

[2016-07-19 15:29] acomito opened #107 "Error when wrapping a Material-UI dialog with komposer?"
`Uncaught Invariant Violation: Should provide a child component to build the higher order container.`

page:

[code]

container:

[code]

The modal works fine when I import JUST THE COMPONENT into the page. However, when I import and use the container, I get an error. The container works fine when the form IS NOT in a dialog/modal.

I need a subscription for the form so I can show a list of option

[2016-07-19 16:15] acomito commented on #107
oops. Removing the ` { }` in import makes this works:

[code]

[2016-07-19 16:15] #107 closed

[2016-07-21 17:22] Mokto commented on #100
Same issue here.

[2016-07-21 17:50] clayne11 commented on #100
Could either of you post a reproduction repo? I implemented this feature and it's working fine for me. There's also tests for it as well so I'm not sure how to reproduce this. If you can post a repro I'm happy to take a look at it.

[2016-07-21 17:51] clayne11 commented on #106
And you tried using the [stubbing flag](https://github.com/kadirahq/react-komposer#stubbing) as well and it's still not working?

[2016-07-21 18:19] Mokto commented on #100
Sure !

https://github.com/Mokto/kickstart-mantrajs-webpack

I tried to set withRef on the parent and child containers.

When I put withRef on the parent container, I get a weird error =>
`Stateless function components cannot be given refs (See ref "wrappedInstance" in DefaultLoadingComponent created by Container(PostList)). Attempts to access this ref will fail.`
But I do not think I have statele

[2016-07-21 18:22] clayne11 commented on #100
In retrospect that makes sense - the [default loading component](https://github.com/kadirahq/react-komposer/blob/master/lib/common_components.js) is a stateless functional component.

That shouldn't stop the `ref` from working on the component you pass in, though. I'll have a look at your repo.

[2016-07-22 23:03] markoshust commented on #95
This has been released

[2016-07-22 23:03] #95 closed

[2016-07-26 04:19] sveinburne commented on #72
@dulguun0225 There is a bug with composing `composeWithTracker`'s where props are erased by the lowest composer. Does it echo to your experience ?

[2016-07-26 19:37] markoshust commented on #2
Can someone post a sample repo to reproduce the problem? I'm experiencing random issues with react-komposer, and everything seems to be leading back to this ticket.

[2016-07-26 19:58] clayne11 commented on #2
We have a PR (#99) waiting to be pulled in that completely fixes this issue.

[2016-07-27 15:05] nadeemja opened #109 "Changing one document causes re-render of all components"
Hello,

I would really appreciate some help on this.

**The Problem**
A change in document causes components displaying other documents to re-render as well.

**Expected behavior**
Only the component displaying the affected document should re-render.

**Steps to recreate**
1. Setup pub/sub and container/components as below.
2. Change anything about a document.
3. Use React DevTools for Chrome to c

[2016-07-28 22:49] gflores commented on #100
@danieljvdm Had the same problem as you but then I updated to v1.13 and now it works !

@Mokto I have the same Warning message as yours but it doesn't prevent it from working well, I can access wrappedInstances just fine.

[2016-07-30 10:05] crapthings opened #110 "ReactiveVar doesn't work inside composeWithTracker ?"
i just want to make a toggler

[code]

[2016-07-30 10:06] crapthings commented on #110
Ahhh forget about it, its my fault

[2016-08-01 12:16] clemsos commented on #3
Hello, anything new here ?

I am trying to use multiple `composeWithTracker` in the same layout, but the props are nullified in the second one.

[code]

Any ideas ?

[2016-08-01 15:32] crapthings commented on #110
i think i should reopen this.

How to use ReactiveVar inside stateless component ?

[2016-08-03 16:12] ElegantSudo opened #111 "Get rid of null in onData(null)"
The  is first argument, which is almost always defined as `null` in the `onData()` function is not used by the majority of developers and only adds confusion to the package.

I've met a couple of developers who seriously want to punch their computer because the null is so unnecessary.

[2016-08-04 08:22] Mokto commented on #100
Hmmm :(

I still got this issue.

[2016-08-04 20:17] mgarf opened #112 "Promise.All - Keep getting unknown 'getNativeNode' error"
Currently trying to return a promise all to a composeWithPromise.

Here is what my promise.All Function looks like:

[code]

And what my compose looks like:

[code]

I've also tried:

[code]

Any thoughts on what I can do to fix this?

[2016-08-04 21:15] #112 closed

[2016-08-05 19:11] clayne11 commented on #100
@Mokto I don't even see `react-komposer` in your `package.json`.

[2016-08-06 13:09] smeijer commented on #111
`(error, result)` is a convention used by node. So I wouldn't advise stepping away from it.

[2016-08-06 15:13] ElegantSudo commented on #111
@smeijer hm. That's certainly not the standard for libraries that face the average developer. It sounds like more of an upstream standard. Just because something is standard, does not mean that it has to be or should forever remain that way.

Do you use it and can you give me an instance/example where I might find it useful?

That's really what I'm concerned about. I think API design choices that

[2016-08-06 16:40] smeijer commented on #111
I can't explain it better than this blog: http://fredkschott.com/post/2014/03/understanding-error-first-callbacks-in-node-js/

[2016-08-06 17:28] ElegantSudo commented on #111
@smeijer that's interesting, but that article doesn't even touch on the way that react-komposer is using it.

React composer is having you define a completely separate function to handle errors, as opposed to what the article outlines as you passing in one function and having an argument `error` hold the information of an error if their is one.

You're comparing apples to oranges.

[2016-08-07 08:35] praneybehl opened #113 "Update React peerDependency to V 15.3.0"
Please update the peerDependencies for react to V 15.3.0. Just started a new project and it uses the latest version.

Thanks

[2016-08-07 14:51] kjetilge opened #114 "Need better "Change Default Components" documentation"
I've tried to get this to work following this [gist](https://gist.github.com/PolGuixe/42c572704986b79ea3ce2a8f80ad2409), but to no avail.

[2016-08-08 06:21] SachaG commented on #103
Why does Komposer need to depend on mobx? I thought it was supposed to work with Redux, Meteor, etc. independently ?

[2016-08-09 14:37] macrozone commented on #114
just ran into the same issue.

Problem is that the the default components are set when any component with komposer is required, not when its mounted, which is a design flaw in my opinion:

https://github.com/kadirahq/react-komposer/blob/master/lib/compose.js#L43

These two lines should be somewhere in render()

[2016-08-09 14:40] macrozone commented on #8
@PolGuixe: maybe related to this? https://github.com/kadirahq/react-komposer/issues/114

[2016-08-09 14:51] clayne11 commented on #114
I agree. This logic needs to be moved inside of render.

[2016-08-09 15:00] clayne11 commented on #113
The version in `peerDependencies` is `^15.0.0` which matches any `15.x.x` version. There's no need to change it.

[2016-08-09 15:17] clayne11 commented on #111
You're not quite following properly @ElegantSudo. The `onData` function that's passed in is a callback function. You callback to it anytime there's new data. It's a fairly simple API that's  entrenched in the API of this library as well as the node ecosystem. It would pretty a painful breaking change to change it and there's no real reason to.

[2016-08-09 15:18] clayne11 commented on #110
Why are you using a `ReactiveVar`? React will automatically re-render the component when props change.

[2016-08-09 15:20] clayne11 commented on #86
I'm really not following. Why do you need `react-komposer` if you're simply calling `setState`? You can just not use `react-komposer` at all. Maybe you'd be better off with a library like [`recompose`](https://github.com/acdlite/recompose)

[2016-08-10 00:50] SachaG opened #115 "Why the MobX dependency?"
Since React Komposer can be used with Meteor, Redux, MobX, etc. why does it depend on MobX specifically?

https://github.com/kadirahq/react-komposer/blob/master/package.json#L55

Isn't it a problem to make every app that uses React Komposer load MobX, even if they don't need it?

[2016-08-10 06:35] crapthings commented on #109
i've the same issue

[2016-08-11 02:42] crapthings commented on #89
hello @sahanDissanayake

can u post example, how u prevent over rendered ?

[2016-08-11 02:45] sahanDissanayake commented on #89
@crapthings I used https://facebook.github.io/react/docs/component-specs.html

So the idea is when u pass props to your children from the parent, I added shouldComponentUpdate to the parent. So the parent will not pass the props down to the children unless the props has been updated. Simple... :)

Read the DOCS carefully.

[2016-08-12 02:59] markoshust commented on #115
Correct, this should be a devDependency

[2016-08-15 06:55] dulguun0225 commented on #86
Need it to set parameter to subscription.

[2016-08-16 09:55] Tevinthuku opened #116 "Cannot read property 'header' of undefined . React-komposer and meteor"
This is my container
[code]

and this is my component

[code]

What could be the problem as Im getting `Cannot read property 'header' of undefined . at ReactCompositeComponentWrapper._constructComponentWithoutOwner (ReactCompositeComponent.js:321)`

[2016-08-16 17:52] PolGuixe commented on #8
@macrozone: most likely it is. Have you found a solution?

[2016-08-16 17:53] clayne11 commented on #8
A simple PR would fix it. Move the fetching of the loading element into `render`.

[2016-08-17 15:46] meepeek commented on #116
I have the same issue

[2016-08-17 17:14] Tevinthuku commented on #116
I found a solution.

stackoverflow.com/questions/38972184/react-komposer-react-and-meteor

On Wed, Aug 17, 2016, 6:46 PM Thee, Meepeek <notifications@github.com>
wrote:

[2016-08-23 12:49] #116 closed

[2016-08-23 14:43] dulguun0225 commented on #86
I guess people don't get it because I'm asking for what doesn't exist in React. Can higher order component read wrapped component's state?

[2016-08-23 22:07] macrozone commented on #86
No. You can't read a component's state from outside. And that's a good thing.

With stateless components you "know" everything about your component anyway, because you pass everything as property

[2016-08-24 15:17] dulguun0225 commented on #86
I thought if it is just a read access it would not be a bad practice

[2016-08-24 15:20] #86 closed

[2016-08-24 20:06] macrozone commented on #110
I guess you want to toggle a state of the component.

In this case, a stateful component is a better fit with internal state that you toggle.
OR even better: use https://github.com/acdlite/recompose withState

[2016-09-01 02:49] rafaelcorreiapoli opened #117 "Usage with redux (another way)"
Hi! I noticed that there is a section on the docs on how to use komposer with redux, but I implemented this in another way and I would like to share and ask if you guys can see anything wrong with my implementation (since to me it was the most obvious but still very different than the one proposed on the README)

[code]

and my reduxKomposer
[code]

What do you think? is there anything wrong with

[2016-09-01 04:50] #117 closed

[2016-09-01 22:20] Narzerus opened #118 "Way to show loading component again"
After `onData` is called with data, the loading componen is (of course) not rendered anymore.

Is there a way to force that component to show again? I'm building a component which specifically requires to show the `loading...` component again after props change.

[2016-09-01 22:22] Narzerus commented on #118
Well, apparently passing `null` as `onData`'s second argument causes the `loading...` component to show again

[2016-09-01 22:22] #118 closed

[2016-09-02 07:27] anothermohit opened #119 "State management for 'limit' in infinite scroll"
I want to implement infinite scroll with react komposer in my 'Feed' container/component pair. I have multiple routes using this Feed duo (say, a home page and user profile pages).

Now, I think I am stuck at the state management for limit which is used in my Meteor subscription in Feed Container.

I know react komposer's way doesn't recommend a component changing it's own state, so what is the re

[2016-09-07 13:30] macrozone commented on #114
sorry for the late answer. I just tested it and it works, so i created a PR: https://github.com/kadirahq/react-komposer/pull/120

You can verify by installing our forked version of the module:

npm install --save git://github.com/panter/react-komposer.git

[2016-09-07 15:41] clayne11 commented on #119
You need to have the data for number of items / pages loaded at a higher abstraction level than the `react-komposer` container. Personally, I use `redux` which does a marvelous job of keeping all the state at the top level of your app so that you can access whatever data that you need at any level in the app by simply connecting to the redux store.

Alternatively, you can create a stateful compone

[2016-09-07 15:47] anothermohit commented on #119
Thanks for answering. I ended up abstracting my state logic outside `react-komposer`, similar to the first solution that you have written. :)

[2016-09-09 09:39] BrianSHenderson opened #121 "Caching Previous Subscriptions"
When using with composeWithTracker I am finding the previous data is also included in the subscription.  Do I need to include the cleanup function?  Is there any example code of how to implement this?

[2016-09-12 07:25] macrozone commented on #119
you can also `withState` from recompose https://github.com/acdlite/recompose

you can chain that into your composed function

[2016-09-15 15:44] TobyEalden opened #122 "composeAll and multiple extraneous data fetches and renders"
See https://github.com/TobyEalden/komposer-weirdness for example/reproduction.

I may have misunderstood the intention of composeAll, but even if that's the case, it appears to behave differently on the first render compared to when a property changes.

It seems that after the initial render, any property change will re-run ALL composers and the final component before the onData is called.

This m

[2016-09-21 11:02] TobyEalden commented on #122
No response at all?

Took some time and effort to put together that example. That's an hour of my life I'll never get back!

[2016-09-21 11:04] stewartcelani commented on #122
For what its worth Toby, I thought your example was wonderful. =P

I'm sure the team is just super busy.

Hope you get an answer soon.

[2016-09-27 00:48] arunoda opened #123 "React Komposer 2.x"
We've been pretty busy with some internal apps these days. Sorry for not updating.
When we are building it and looking at some of these issues, I think we need to re-think about the API.

Here's what we are looking to have in 2.x (Which will be out pretty soon).

[code]

[2016-09-27 00:49] arunoda commented on #122
@TobyEalden Sorry for the late answer. We know this will be fixed with 2.x
See: https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 00:51] arunoda commented on #121
That's how subscription works.
This is some Tracker related stuff, not related to this project.
Try to ask this question on Meteor Forums with more info.

[2016-09-27 00:51] #121 closed

[2016-09-27 00:52] arunoda commented on #115
I'm going to handle this in a better way with 2.x https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 00:53] arunoda commented on #119
I think we can close this.
We should also document on how we can use this project with recompose.

[2016-09-27 00:53] #119 closed

[2016-09-27 00:54] arunoda commented on #123
We should also look at documenting how to use recompose if needed.

[2016-09-27 00:57] arunoda commented on #114
Thanks. We are going to introduce a new API for 2.x and with that, we won't have this issue.
See: https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 01:01] arunoda commented on #111
I agree with both of you guys.
But most of the time, we use `onData(null, data)` and this data is loaded usually from multiple sources.
Also we tend to handle the error with the component itself.

I am re-thinking about to change it with 2.x: https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 01:02] arunoda commented on #109
Yep. This will be fixed in 2.x - https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 01:04] arunoda commented on #106
I think now we've better support for stubbing.

[2016-09-27 01:04] #106 closed

[2016-09-27 01:04] arunoda commented on #106
I am open to suggestion with the 2.x - https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 01:05] arunoda commented on #105
There's way to change the default loading component. See docs. We'll have much better solution with 2.x - https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 01:05] #105 closed

[2016-09-27 01:08] arunoda commented on #104
I think this is something we need to expect with 2.x - https://github.com/kadirahq/react-komposer/issues/123

[2016-09-27 01:08] arunoda commented on #113
Yep.

[2016-09-27 01:08] #113 closed

[2016-09-27 01:09] arunoda commented on #92
Yep. I agree with @clayne11
Both similar projects, but this one specially to load data.
It's definitely to use both together. We should document that.

[2016-09-27 01:09] #92 closed

[2016-09-27 05:33] nadeemja commented on #109
Awesome, @arunoda! :)

[2016-09-27 05:36] feit commented on #123
Expecting

[2016-09-28 14:14] macrozone commented on #114
Could we still release it on version 1?

Looking forward to the new version, but switching to it comes at a cost, in particular if its a breaking change.

It would be better to having this bugfix on version 1.

[2016-09-28 16:54] arunoda commented on #114
@macrozone I just made is almost API compatible with v1.x. But there won't be default loading and error components. We need to load them explicitly.

It's currently on v2 branch and we are using it production. Will add docs soon.

[2016-09-28 16:56] clayne11 commented on #114
Why no default loading component? I think it makes a lot of sense to have a default.

[2016-09-28 16:59] arunoda commented on #114
We've. You need to provide them manually.
If we've introduce them it's pretty hard to use this with React Native.
There's a way to introduce defaults pretty easily.

[2016-09-28 17:04] clayne11 commented on #114
But can you still set a default component globally? I guess you could curry the composer function but I think this is something that makes sense to have in the base.

[2016-09-28 17:09] arunoda commented on #114
Yes. we could.

[2016-10-03 15:56] karldanninger commented on #123
Nice @arunoda! Looking forward to it

[2016-10-04 13:53] RevelsGit opened #124 "Loading component shows for a long period of time."
For the initial subscription it takes react komposer about 5-10 seconds to actually show the data. This is just ridiculous because I tested the same subscription with blaze and it took about half a second to render the data. What is the problem with react-komposer? How can I get around this? I know that there is v2 floating around that MAYBE will resolve this issue, but this is critical for now an

[2016-10-04 17:34] clayne11 commented on #123
I'm HIGHLY opposed to using `this` to access `context`. Why not pass it in as an argument?

For that matter, I think the args that are passed in should be an object rather than ordered parameters:

[code]

This API is much cleaner and you can simply ignore the arguments that you don't use.

[2016-10-05 02:21] arunoda commented on #123
@clayne11 yep. I agree and I found it confusing specially with the arrow functions.
So, now I am using it as you are describing.
It's now on [v2 branch](https://github.com/kadirahq/react-komposer/tree/v2) and we are using it on production.

[2016-10-05 10:03] RevelsGit commented on #123
@arunoda when I install v2 with meteor npm install --save git://github.com/kadirahq/react-komposer#v2 it throws an error
[code]

[2016-10-05 13:56] RevelsGit commented on #124
After a long testing I finally found the issue that was causing it. It was actually a call to a meteor method which was blocking the rendering process. It was really hard to debug this because the subscription was initialized and then the block was happening. So the tests were showing that the subscription takes 5-10 sec, so I assumed it was a problem with the package because in blaze everything w

[2016-10-05 13:56] #124 closed

[2016-10-06 08:06] feit commented on #123
How soon will v2 merge to master?

[2016-10-12 16:25] mbabauer opened #125 "Component stuck at "Loading...""
I have a component defined as follows:

[code]

[code]

But, when I load said component I get "Loading...".  I also tried to call `onData()` as `onData(null, {})`, but that throws an error in Tracker.  I just need to pass in the actions, no data, to the component.

[2016-10-17 15:37] mbabauer commented on #125
Can anyone help me understand why this component is getting stuck at "Loading..."?

[2016-10-19 16:25] ElegantSudo commented on #123
Hm, I think the old pattern/usage was simpler.

[2016-10-19 18:23] clayne11 commented on #125
You're not passing any data in your `composer` function.

If you call `onData()` with no arguments then you put the component into a loading state.

You need to call it like this:

[code]

[2016-10-20 15:39] mbabauer commented on #125
Thanks.  I should have closed this, but the solution I took was to simply remove the composer method and the call to composeWithTracker().  So, basically all I call is the useDeps() in the composeAll() call, since all I need to do is set the actions for the component.

[2016-10-20 15:39] #125 closed

[2016-10-20 15:47] clayne11 commented on #125
If you're not side-loading data you definitely shouldn't be using `react-komposer`. If you're simply looking to map some props or add handlers you should look at [`recompose`](https://github.com/acdlite/recompose).

[2016-10-20 16:25] mbabauer commented on #125
For this particular component I only needed to inject some actions (I am using [Meteor Mantra](https://github.com/kadirahq/mantra)).  I didn't know how else to make the actions available to the component, to be perfectly honest, and examples are all over the place with how they approach stuff.  If you have some better examples I would absolutely love to follow them.

[2016-10-20 16:36] clayne11 commented on #125
I don't use Mantra and I'm not really familiar with it so I can't help you there unfortunately.

[2016-10-21 06:54] THPubs opened #126 "Data not passed to the component on change"
Hi, I'm trying to use mobx with `react-komposer`. So far I managed to pass data from the mobx store and fire actions to change that data. The initial data comes to the container. Also when I change that data, the changed data come to the container. But the container does not pass the new data to the component. Any idea why this is happening?

My container :

    import {useDeps, composeAll} from '

[2016-10-21 08:48] THPubs commented on #126
Just found the issue. I was setting the new value in `componentDidMount`. In other instances, it worked but when I change the value inside `componentDidMount` the container won't pass the value to the component. I fixed it by adding the value changing function inside a setTimeout. Any idea why this is happening?

[2016-10-21 09:32] macrozone commented on #123
by the way, react-komposer share some functionality with https://github.com/acdlite/recompose (like composeAll / merge is mostly the same like recompose' compose). Did you think about using it under the hood?

[2016-10-21 09:37] macrozone commented on #111
I like the idea of indicating an error in one of the composers, but the UI-component should decide what to show if there is an error.

Also if there are multiple composers, subsequent composers might react on errors from a previous one.

"Railway oriented programming" might be a good buzzword here: http://fsharpforfunandprofit.com/rop/ (good read, in particular the presentation)

[2016-10-21 14:16] TobyEalden opened #127 "Alternatives?"
Does any one have any suggestion for an alternative or active fork to react-komposer? It's a neat solution with potential but isn't currently fit for purpose other than for basic usage in my experience, especially w.r.t. meteor apps.

After seemingly going to a lot of effort in promoting it and getting the word out, early adopters have now been left high and dry with no activity on either branch f

[2016-10-21 15:03] arunoda commented on #127
Check this: https://github.com/kadirahq/react-komposer/issues/123

[2016-10-21 15:20] TobyEalden commented on #127
Yep - I'd seen that - last updated 24 days ago. I did give it a go but from what I could make out the functionality doesn't match that described in https://github.com/kadirahq/react-komposer/issues/123 and I couldn't find any other documentation. [A comment](https://github.com/kadirahq/react-komposer/issues/123#issuecomment-251894349) 15 days ago asking for an ETA received no response.

I'm in the

[2016-10-21 16:05] arunoda commented on #127
If you are looking for alternatives you could try Mobx, Recompose or similar.

[2016-10-26 12:03] thomasKn commented on #118
Same problem here, I want to show the loading component again:

[code]

I tried to pass `null` as `onData`'s second argument but no success:

[code]

Any idea?

[2016-11-01 19:52] Floriferous opened #128 "Export multiple meteor containers in one file"
I have a basic container with which I want to wrap multiple components in Meteor. But I can't figure out what the export pattern is?

Here is what I have:

[code]

This wrapper syntax is not really clear for me, so I'm unsure about what to try. Playing with `export default` and other variations yielded no result so far.

[2016-11-02 10:00] #128 closed

[2016-11-07 03:04] ElegantSudo opened #129 "Don't remove data from Meteor collection after component is recycled"
We shouldn't remove data from the Meteor collection after the component is recycled, or there should be a way to disable this, so that we aren't constantly refetching data from the server every time a component is reloaded.

[2016-11-07 06:43] arunoda commented on #129
You need subs-manager.

[2016-11-07 06:43] #129 closed

[2016-11-08 00:42] arunoda commented on #123
Guys, v2 is almost ready and I've added [docs](https://github.com/kadirahq/react-komposer/tree/v2) as well.

[2016-11-08 00:44] arunoda commented on #123
@macrozone we only use a single feature of recompose which is `merge`. It's a few lines of code and I hope the API is bit different too.

We use react-komposer for data loading, but after that it's possible to use recompose or use recomposed UI components with react-komposer.

[2016-11-08 03:17] arunoda commented on #123
Closing since I've released it. But feel free to open new issues for questions.

[2016-11-08 03:17] #123 closed

[2016-11-08 03:24] arunoda commented on #115
Just released 2.x and now we don't ship mobx.

[2016-11-08 03:24] #115 closed

[2016-11-08 03:39] arunoda commented on #127
Just launched v2 and I hope we could close this.

[2016-11-08 03:39] #127 closed

[2016-11-08 03:40] arunoda commented on #122
This is fixed with v2 and I've released it.
Check the section on [Performance](https://github.com/arunoda/react-komposer#performance).

[2016-11-08 03:40] #122 closed

[2016-11-08 03:41] arunoda commented on #114
I just shipped v2 and we don't ship with default components.
Instead, you need to [do it first](https://github.com/arunoda/react-komposer#set-defaults).

[2016-11-08 03:41] #114 closed

[2016-11-08 04:03] arunoda commented on #111
I though I could get rid of this.
But we should follow this.
And v2 still have this.

[2016-11-08 04:03] #111 closed

[2016-11-08 04:04] arunoda commented on #109
Launched v2. Check the [Performance](https://github.com/arunoda/react-komposer#performance) section.

[2016-11-08 04:04] #109 closed

[2016-11-08 04:06] arunoda commented on #94
Could you give a try for v2 of React Komposer?
We just released it. Check the README.

[2016-11-08 04:08] arunoda commented on #90
Could you try that with v2? (Check README)
Reopen with more info.

[2016-11-08 04:08] #90 closed

[2016-11-08 04:09] arunoda commented on #89
Check v2. It has fixed this issue.
Check for the [performance](https://github.com/arunoda/react-komposer#performance) section.

BTW: We don't ship Meteor/Tracker support by default.
For that you need to create a [data loader generator](https://github.com/arunoda/react-komposer#no-utility-composers-for-promises-redux-and-etc) as suggested here.

[2016-11-08 04:09] #89 closed

[2016-11-08 04:11] arunoda commented on #79
@markoshust could you submit a [data loader generator](https://github.com/arunoda/react-komposer#no-utility-composers-for-promises-redux-and-etc) for Redux as suggested here.
(It's for react-komposer v2)

May be for mobx as well.

Idea is to have them outside of the core repo. Anyway, we could link them in the README.

[2016-11-08 04:11] #79 closed

[2016-11-08 09:50] macrozone opened #130 "add sample how to migrate composeWithTracker to v2"
See title,

migration to v2 looks doable, but it's not totally clear. There is also no migration path for meteor-users that still use composeWithTracker.

We should provide such an example or a reference-implementation of a composer that uses tracker underneath

[2016-11-08 10:21] arunoda commented on #130
Yep. I will do it today.

[2016-11-08 12:25] arunoda commented on #130
Added it here: https://github.com/arunoda/react-komposer#for-meteors-tracker

[2016-11-08 13:06] macrozone commented on #130
perfect, thx!

[2016-11-08 13:06] #130 closed

[2016-11-08 13:43] TobyEalden commented on #130
still looks a bit confusing to me - use of reactiveMapper for parameter name and actual function, plus shouldn't reactiveMapper mapper return something (or should check for null trackerCleanup before calling it) ?

[2016-11-08 23:53] TobyEalden opened #132 "meteor example needs improvement"
I'm guessing lots of meteor users will be coming here hoping to quickly understand how to integrate/port existing code to v2. The [example in the readme](https://github.com/arunoda/react-komposer/blob/master/README.md#for-meteors-tracker) isn't much help IMO (and it's buggy - trackerCleanup is undefined and will throw in the example given).

I have improved the example to be more in keeping with t

[2016-11-09 00:38] veeramarni opened #133 "How to use with recompose?"
Can you provide an example how to use with recompose?

[2016-11-09 04:07] arunoda commented on #132
I've update the README, try using that.
Thanks for the heads up.

[2016-11-09 04:09] arunoda commented on #133
Actually, you don't any example.
The output of react-komposer's `compose` API is also a React Component.
So, you can do anything you could do with a React Component.

That includes the use of recompose too.

[2016-11-09 04:09] #133 closed

[2016-11-10 03:39] dulguun0225 commented on #72
No. But I think higher order components hide props of inner component.

[2016-11-12 06:19] stewartcelani commented on #132
Also coming from the Meteor + React + React-Komposer world.

Keen to upgrade to v2. Have a product in beta at the moment using v1. Failing to make sense of your examples. Has Meteor fallen down in the list of your priorities or... ?

Unsure how to convert below code into v2. My whole app depends on react-komposer but the bugs encountered in v1 do lead to less performance than I'd like (a teacher v

[2016-11-12 06:52] stewartcelani commented on #132
[code]
The returns in the examples (e.g. For Promises & For Redux) are also missing the => and don't execute:

Fix:
[code]

[2016-11-12 08:01] stewartcelani opened #134 "2.X redux help & examples could benefit from improvement"
The default redux example in migrating from 1.X relies on the env variable which, in its own section, is a little confusing. The myCompose function is created but not used in the following example? Could benefit from some more explanation.

My project relies heavily on react-komposer and 1.X has been awesome and we have been waiting for 2 eagerly since your post about it here so really keen to get

[2016-11-12 08:41] TobyEalden commented on #132
I gave an example of a [drop-in replacement of composeWithTracker](https://github.com/TobyEalden/react-komposer/blob/3c87a1724590cb24303a2c4d7ec8ed88f834e5db/README.md#for-meteors-tracker) that works for v2

@arunoda - I'd be interesting to know why you don't recommend this approach, as it is a simple shim around `compose` and doesn't break the pattern IMO.

[2016-11-12 08:48] stewartcelani commented on #132
Nice work Toby. I've already ported every single one of my components (fun times) but this should probably be used by default to make the transition easier for everyone.

Have you managed to get redux working as I reference in #134?

[2016-11-12 09:32] TobyEalden commented on #132
@stewartcelani - I'm afraid not, haven't looked at that yet. Good luck!

[2016-11-13 02:11] arunoda commented on #134
What we need `env` because that's a way to pass the reduxStore to the dataLoader. (AKA, function pass to the composer). If you have a way to get the store somehow that's not an issue.

As for the above example, you have provided you could simply right it like this:

[code]

[2016-11-13 02:17] arunoda commented on #132
@TobyEalden about the composeWithXXX pattern.
I'd like to go with dataLoader generators instead of `composeWithXXX`.
Here's the problem why I don't recommend.

With v2, we highly suggest you to create your own compose function. So, inside the `composeWithXXX` function it don't know what compose to use unless you pass it explicitly. Specially, if that `composeWithXXX` distributed via NPM.

So, data

[2016-11-13 02:21] arunoda commented on #132
@stewartcelani

For you example, you could do this like this without much effort.
(You need to import `getTrackerLoader` as I present [here](https://github.com/arunoda/react-komposer#for-meteors-tracker).)

[code]

[2016-11-14 08:20] simsim0709 opened #135 "What about SSR in Meteor Tracker?"
I have a question regarding [SSR section](https://github.com/arunoda/react-komposer/#server-side-rendering-ssr)

I am using Meteor, React with React Router, and I have implemented `getTrackerLoader` code from the documentation.

Do I need to take care of SSR on getTrackerLoader?? Something like this.
[code]

[2016-11-14 10:22] arunoda commented on #135
You don't need to change here for SSR. But inside your reactiveMapper code.

Like this:

[code]

I didn't try this. But it should be something like this.

[2016-11-17 19:35] paulo2nd opened #136 "Two components with same subscription"
Here is my problem, I have two components that needs same subscription, the problem is:

After access the second component the first one loose the reactivity.

[2016-11-18 01:42] arunoda commented on #136
For that, you could use something like subs-manager. I don't think this is something we should address with React Komposer level.
Anyway, I'd like to see some code.

[2016-11-18 03:18] paulo2nd commented on #136
Here are the 2 containers:

[code]

[code]

need this because chat information come from userSolutions publication.

[2016-11-18 09:56] arunoda commented on #136
I assume you need some help with Meteor. Specially with subscription caching.
I think this question better suits for stackoverflow or in the Meteor forums.

[2016-11-18 09:56] #136 closed

[2016-11-18 14:54] lyquocnam opened #137 "How to subscribe with meteor ?"
Hi author, i tried with this code, but handle.ready() not work, please help !

[code]

in server file:
[code]

[2016-11-18 15:30] paulo2nd commented on #136
This was not the real code, write it because changed the original.

I agree, I need to understand more about subscription cache, but as I see this would be only a performance issue. The think is subscription should be destroyed  and recreated in every new route.

I think I know my problem, I am using react-router instead flowrouter and react-router are not recreating the component when user come b

[2016-11-18 23:18] arunoda commented on #137
You need to use `getTrackerLoader` as instructed here: https://github.com/arunoda/react-komposer#for-meteors-tracker

[2016-11-18 23:18] #137 closed

[2016-12-10 22:43] JeremySaks commented on #44
I updated to 2.0 today (works great!) and remembered this old issue I filed. Since `composeWithTracker` is no longer included by default Tracker can be imported instead of exposed globally, and I think this issue can be closed.

[2016-12-11 02:30] arunoda commented on #44
Thanks @JeremySaks

[2016-12-11 02:30] #44 closed

[2016-12-11 19:44] Ethaan opened #141 "Dispatch action inside reactiveMapper"
Is this ok?

## Setup
currently im using the `getTrackerLoader` function from the README.

and my mapper function looks like this.

[code]

im also using `setDefaults` like.

[code]

and this how the Containers is composed.

[code]

My `composeWithRedux` looks like.

[code]

and my `reduxMapper` looks like.

[code]

## The PROBLEM

Dispatching `store.dispatch(setInitialAuthorsLists(Authors.find().

[2016-12-15 07:53] arunoda commented on #141
It is bad since it'll add a recursive changes since you are using `composeWithRedux`. I think this integration between Meteor and Redux is not good.

You need to integrate Meteor and Redux outside of the composers.

[2016-12-16 06:14] Ethaan commented on #141
@arunoda got it, just testing and playing around.

Thanks!

[2016-12-16 06:14] #141 closed

[2016-12-16 08:00] #134 closed

[2016-12-16 08:06] stewartcelani opened #142 "FlowRouter SSR + ReactKomposer"
My app relies heavily on FlowRouter & ReactKomposer and I'd love a way for them to work together while doing SSR. This may be possible but there isn't any documentation out there.

From your SSR section in the React Komposer readme:

[code]

How do we detect that the route is being rendered via SSR and thus flag isSSR to true?

What does the watchData function look like?

Coming from this kind of

[2016-12-20 00:44] dbishoponline opened #143 "Errors thrown within child components are not bubbling up"
Question:

If I compose an App component like this `compose(composeFunc)(App)`.  Then, inside the App component there is a `<Header />`.  Inside the Header, there is a `<Logo />` component.  The Logo component is a dumb component:

[code]
That all works, but say I change the 'name' prop to.. 'names' (which should throw an error)...all that happens is the default "Loading..." displays but no error

[2016-12-20 01:42] dbishoponline commented on #143
Additionally, when I don't compose <App /> the error from Logo displays in the console:

`Logo.jsx:3 Uncaught ReferenceError: names is not defined`

[2016-12-20 10:03] arunoda commented on #143
Better if you can send me a sample app, where I can see try this locally.

[2016-12-21 16:25] chrishearn opened #145 "Passing props to loadingHandler in v2"
You could pass props received by the UI component to the Loading component in React Komposer v1, but it doesn't appear to be possible in v2.

Will this functionality be implemented in future or is there a workaround?

Thanks

[2016-12-22 17:32] RoganRicheart opened #146 "TypeError: composeWithTracker is not a function"
Installed
okgrow:accounts-ui-react
accounts-password
then
react-komposer classnames

Now getting the error in the subject.

Using Meteor release 1.4.2.3

![image](https://cloud.githubusercontent.com/assets/9658413/21434579/53fe5aa0-c843-11e6-9bbe-c1a43e376147.png)

[2016-12-22 23:39] nturk commented on #146
facing the same issue here, so frustrating working with the packages, like react komposer, hey Scott,  you should update us with a solution to this voting app.

[2016-12-22 23:50] nturk commented on #146
facing same issue here, packages are so frustrating to work with, hey Scott, you should update us with a solution to this okgrow:accounts-ui-react conflict ...

[2017-01-05 03:39] crapthings commented on #146
meteor npm i -S react-komposer@1.31.1

[2017-01-05 03:40] #110 closed

[2017-01-05 14:59] pauldowman commented on #146
I'm pretty sure we have a PR for okgrow:accounts-ui-react, we'll try to review & merge it tomorrow. Sorry for the delay.

https://github.com/okgrow/accounts-ui-react/issues/4

[2017-01-05 18:40] nturk commented on #146
Thanks Paul, looking forward to it

[2017-01-06 09:29] jr69 opened #147 "How many subscriptions is too many for this?"
Does react-komposer reuse subscriptions, i.e. doing something like:

Meteor.subscribe('test');
Meteor.subscribe('test');
Meteor.subscribe('test');
Meteor.subscribe('test');
Meteor.subscribe('test');
Meteor.subscribe('test');

So can I have many small React components with containers? Or should I have one big container, and then have many small react components inside it, with less overhead

[2017-01-11 06:15] janzenz opened #148 "Unsubscribing to publication"
Based on the [Meteor document](https://guide.meteor.com/data-loading.html#stopping-subscriptions), specifically:

Based on the document this is done on automatically on `getMeteorData`:

Is this done automatically on `react-komposer` or do we need to do it manually?

[2017-01-19 09:55] janzenz commented on #147
I have somewhat similar question. Mine is about nested components, does it cause performance issue if we repeatedly connect each nested component, let's say with similar data or any data that can be derived from the `ParentContainer`? In Redux this is acceptable and encouraged I don't know with Komposer.

For example

[code]

[2017-01-19 14:32] achtan opened #149 "apollo loader"
Hi, how you implement dataLoader for apollo ?

[2017-01-29 07:48] jr69 opened #150 "What might cause a db function to load the container twice?"
Usually the process goes:

1. Make a db change
2. Container reloads

And everything is all fine. But in one of my cases its this:

1. Make a db change
2. Container reloads
3. Container reloads

This is unwanted because it causes a single frame or two of flickering and it doesn't look good.

Is it because im using embedded arrays?

[2017-01-31 13:40] achtan commented on #135
@arunoda this code `const post = return Posts.findOne({_id: props.id})` is invalid, can you please explain

@simsim0709 any luck with SSR ?

my code is:
[code]
log on server: `list true 0`
log on client: `list false 44`

[2017-01-31 13:42] achtan commented on #142
@stewartcelani hi, any luck with ssr ?

[2017-01-31 17:03] stewartcelani commented on #142
@achtan Unfortunately not. Will probably do a rewrite and switch to react-router + rxjs or apollo.

[2017-01-31 17:44] MaxTwentythree opened #151 "shouldSubscribe not working"
Hi,

the option shouldSubscribe does not seem to work.

When I have this ...

[code]

... the console.log is never triggered, nor does "return false" prevent the loader from reloading.

Am I doing something wrong or is this a bug?

[2017-01-31 19:28] zeroasterisk opened #152 "Error: Tyring set data after component(Container(ChartData)) has unmounted."
I keep seeing this error, for a dataLoader function which is very fast.

Is there a chance the dataLoader is trying to set the data into the component before it is actually mounted?

[2017-02-04 12:29] achtan commented on #135
its working, when i put subscription before `find` call
[code]

[2017-02-04 13:51] davidworkman9 commented on #152
Also getting this when using a controlled component and someone types quickly.

[2017-02-04 14:10] davidworkman9 opened #153 "Tracker integration - child components declare dependencies on parent components"
With the 1.x version and the solution the README for 2, a child component can affect an autorun on a parent, which in my case caused a ton of subscriptions to get called, spiking CPU usage to 80%+ on an AWS general purpose medium instance with two people typing on a controlled component. I fixed this by first upgrading to 2.0, then taking the README solution for tracker and wrapping a nonreactive

[2017-02-04 15:34] thomasKn commented on #118
Many thanks @RevelsGit ! It works like a charm ;)

[2017-02-06 10:14] Dartv commented on #152
Not sure about v2 but if you look at the code in v1 it actually sets data in `constructor` and not in `componentWillMount` which will cause errors if you try to dispatch some redux actions there. Maybe it's related to this issue.

[2017-02-07 13:14] MaxTwentythree commented on #151
Same issue with 'propsToWatch' btw...

[2017-02-13 10:59] janzenz commented on #152
I'm also getting this when I'm using Promise inside a tracker. :( Can't find any example to combine promise and tracker in one loader.

[2017-02-17 10:28] nkahnfr commented on #151
Hi,

It's working fine for me.

Please note ```shouldSubscribe``` is never called on the first run since you need to subscribe to initialize the container.
The function is called when one or more watched properties change for an "initialized" container.
Hope it helps.

[2017-02-18 14:41] KyneSilverhide opened #155 "Question: How to pass data to the container (ex: change parameters of the subscription)"
Hello,

I'm using react-komposer with Meteor. Basically, my code looks like this
[code]

This works well, but let's say I want to add a third subscription that should update whenever a team (from the team subscription) is selected on screen.

`const devSub = Meteor.subscribe('developers.team.list', "THE SELECTED TEAM ID");`

What's the best way to achieve this?

[2017-02-19 23:54] avishaan commented on #155
You need to pass the new 'params' as the prop from the parent component of the container you have shown. I think the Meteor Chef site has some examples of this

[2017-02-26 14:59] KyneSilverhide opened #156 "When changing parameters from one subscription, other subscription from same collection is updated"
Hello,
I have this one strange bug I can't really understand..

My components are like this
[code]

**DevPage** is the root page, **TeamDevList** is a component that displays all the developers in a collection that are assigned to the selected team, **AllDevList** is a sub component to manually add developers to the list. **Modal** is just a React Bootstrap modal.
_My containers have the same name

[2017-02-26 15:11] KyneSilverhide commented on #156
Ok, my fault...

I'm very new to Meteor, and I didn't understood subscriptions properly.
When subscribing to multiple subscriptions on the same collections, data is put into the "client minimongo". So I have to manually filter after calling the subscirption, otherwise I will get the "union" of both subscriptions.

It works properly now

[code]

[2017-02-26 15:11] #156 closed, assigned to nobody

[2017-03-08 21:01] amadt opened #157 "Using Inferno, there is a name conflict with _unmounted"
In compose.js we have
[code]

Inferno actually is using the variable `_unmounted` in their code as well, and it's causing conflicts. What are the thoughts on trying to use a different scheme on _unmounted to make sure there isn't conflicts. Something like `this._compose__unmounted`?

[2017-03-15 09:59] vladbalan opened #158 "shouldSubscribe only works when propsToWatch is provided"
It appears that `shouldSubscribe` only works as intended when `propsToWatch` is also provided in the options object, otherwise both `currentProps` and `nextProps` are equal to empty objects.

[code]
If `propsToWatch` is not provided, it defaults to `null` (https://github.com/arunoda/react-komposer/blob/a51a44de268587c1019ae834a95e24835fe23d85/src/compose.js#L14) and `pick(props, null) === {}` (htt

[2017-03-15 18:24] zvictor commented on #127
given that Recompose has grown in popularity more than react-komposer, it might be a good idea to be more aggressive in the **Why** section of the README and describe the advantages of this project over the alternative.

also, since there has not been any intense activity here since the release of v2 but Recompose has kept the momentum, we start wondering about the future of this project. @arunoda

[2017-03-19 11:01] zvictor opened #160 "Support for react-loadable"
anyone interested in having support to https://github.com/thejameskyle/react-loadable ? I am considering to work on a PR for it.

[2017-03-22 14:30] Floriferous opened #161 "Merged containers' loading behavior"
When merging multiple composers, I'd expect the loading component to start appearing when going through the first composer, and end when all the data has arrived, is this how it is handled? Also, would the component, if provided, animate continuously ?

To illustrate, what is the difference, if any, between these 3 approaches:
[code]

[code]

[code]

[2017-04-12 21:05] neoromantic commented on #160
I'm quite interested! Have you started yet? :)

[2017-04-19 13:35] zvictor commented on #160
I decided to wait a while before starting it as I am worried that the project might become abandoned. My concerns are described at https://github.com/arunoda/react-komposer/issues/127#issuecomment-286835563

[2017-04-23 19:02] jenlikescode opened #162 "Question: Passing Meteor.user() to a component?"
I'm currently using themeteorchef/base boilerplate project. It's been really helpful as I move from the Meteor/Blaze to Meteor/React world.

It's straight forward to pass subscription data to components via containers. But, trying to create a basic profile page has been surprisingly hard and I feel like I'm missing something simple. So far I've managed to pass the user object as a json string (whi

[2017-04-24 18:57] #162 closed, assigned to nobody

[2017-05-01 15:12] derdrdirk opened #163 "Composer rendering container twice"
I packed the container into a composer. The composer is subscribing to data, as soon as the subscription is ready the composer gets called again and sends the data via `onData(null, props)` to the container. When the container is mounted the composer runs again and triggers an update of the component.

What is triggering the reload of the composer? I am not changing any props of the composer?

P.S

[2017-05-08 12:34] neooleg commented on #142
It seems isSSR mentioned within README.md is "alias" of Meteor.isServer

[2017-05-08 12:37] neooleg commented on #142
However, watchData() function is still not found.

@arunoda could you please comment about it?

[2017-05-14 17:11] xshadowlegendx opened #164 "Component Did Mount did not fired"
I'm using MeteorReact, doing project involving google map, the component did mount did fired in the web but building it to android breaks the component did mount, which my map initialization is in the component, result in showing white screen rather than map.
There might be two reason to this as i could think of, which **First is problem coming from Cordova, second is coming from react-komposer**.

[2017-05-25 08:22] akashqwerty commented on #132
Hi @arunoda Sir, I am having trouble using react-Komposer with meteor. I am unable to subscribe data . I have tried MDG's createContainer method and It worked. I have developed for one year using Blaze and now I am migrating to react but facing a lot of problems. Do I need redux too when using react-Komposer? If any of you may please provide a simple working sample of how to retrieve data from col

[2017-05-25 21:54] flippyhead commented on #152
Anyone happen to figure this out? Following the recommended setup we see this after routing (with react router) and it causes the app to completely break.

[2017-05-25 22:12] flippyhead commented on #152
Actually we found this was caused by the mapper function for redux not returning the result of subscribe (which is a function that unsubscribes from the store).

[2017-06-13 16:24] davidworkman9 commented on #160
What would this support look like? I'm currently using komposer and react-loadable without issues.

[2017-06-19 21:49] kieckhafer commented on #152
Any solution to this? We are also seeing this issue. We have a sidebar that has our komposer container inside of it. When we close the sidebar, the container seems to re-render as it's closing.

In our container, we fetch our data via a `Meteor.call`. This call is seeming to happen again during this re-render when we close our sidebar, and I assume the component is unmounted before the data is sen

[2017-06-21 07:04] bhavishhak opened #165 "this._stop is not a function"
Using compose function with custom dataloader function.
Everythime i start the app this error shows up
![screen shot 2017-06-21 at 12 34 14 pm](https://user-images.githubusercontent.com/29251322/27371339-0290c27e-567e-11e7-9ff0-41335782227a.png)

[2017-07-04 12:26] trmjoa commented on #165
Hi,

I just had the same error. Since other might have similar issues I'm posting my solution here:

Make sure your dataloader(s) is not returning anything. The only valid return value is a function that when called (on unmount for  instance) will stop the current loading logic. A common error is to return a promise or a object from the dataloader. If you do  that, then you will have this error.

[2017-07-13 01:48] reggiepangilinan commented on #148
No need to unsubscribe, it is automatically handled.
https://github.com/arunoda/react-komposer/issues/5

[2017-08-16 14:19] McPo commented on #152
I am also running into this issue.

Here is some pseudo code.

[code]

I am making a network call in doSomething. If I navigate away and the component becomes unmounted, I would be expecting cancelDoSomething to be called, but it appears that it is not. (I have verified this via logging). Instead I am getting the following error.

`Error: Tyring set data after component`

The solution for me at th

[2017-08-31 12:21] crapthings commented on #163
do u have subscribe inside your container ?
if so you should wait for ready

[2017-09-04 11:17] hexagon6 opened #168 ""Play with this example." - Webpackbin link is outdated in README.md"
When clicking on "Play with this example." at https://github.com/arunoda/react-komposer#simple-example

We see this error page from Webpackbin (https://www.webpackbin.com/4J6Z-fDlf):

[2017-10-11 10:49] crapthings commented on #163
subscribe ready is reactive source
it will be switching between false to true
and if your props are from collection cursor it will reactive while ddp sends message

you have  to wait subscribe ready most time

because ddp message from publish cursor sends one by one

or use this.added changed removed  erc to customize your ddp manually

[2017-10-18 18:21] brucewpaul opened #170 "Add react16 to peerdeps"
Could we expand the peerdeps to allow for react16? The pr is already submitted (https://github.com/arunoda/react-komposer/pull/169) and just needs to be merged and released.

Thanks!

[2017-10-22 16:34] #164 closed, assigned to nobody

[2017-12-24 01:34] Dartv commented on #158
`shouldSubscribe` is not working for me at all. Even if I return false explicitly, it always reruns.

[2018-02-26 13:20] fortuneNyl opened #173 "Sending data from container to component with @storybook/mantra-core"
I have a meteor v1.6.1 app, with react@16.2.0. But I have a problem with the composeWithTracker function. This function have been taken off react-komposer@2, used by storybook, but is still declared in @storybook/mantra-core/dist/index. So, I have a question. How could I send data from my containers to my components? Need help please.
    When I do this in my container with @storybook/mantra-core:

[2018-06-08 21:41] diegolaciar commented on #5
@arunoda ,

So, when the component get unmounted composeWithTracker call   .stop() method for each subscription I made inside the compose function ?

You say I don't need to return a clear function for all the subscriptions?

Thanks,
Diego

From meteor doc:

Stopping Subscriptions

The subscription handle also has another important property, the .stop() method. When you are subscribing, it is very

[2018-11-15 12:11] saddiqueasad1 commented on #54
import React, { Component } from 'react';

import Counter from './conuter';
class Conuters extends Component {
    state = {
        conuters: [
            { id: 1, value: 4 },
            { id: 2, value: 0 },
            { id: 3, value: 0 },
            { id: 4, value: 0 }
        ]
     }

     handelDelete = (counterid) => {
      const conuters = this.state.conuters.filter(c => c.id !== count

[2018-11-15 12:11] saddiqueasad1 commented on #54
same problem on map

[2018-12-14 16:05] Felix-okeff opened #178 "TypeError: Cannot read property 'map' of undefined"
please I am new to REACTJS, and I am caught up with an error - TypeError: Cannot read property 'map' of undefined.
How do I fix it please?

[2019-02-28 12:14] bryar323 opened #179 "TypeError: Cannot read property 'map' of undefined"
my issues:
TypeError: Cannot read property 'map' of undefined

my code:

`import React, { Component } from "react";
import Product from "./Product";
import Title from "./Title";
import { storeProducts } from "../data";
import { ProductConsumer } from "../context";
export default class ProductList extends Component {
  state = {
    products: storeProducts
  };

  render() {
    return (
      <Rea

[2019-03-28 15:40] jcrommar commented on #54
Thanks, definitely worked!

const List = ({ Names = []})

[2019-04-18 07:32] casvil commented on #152
I have the same issue in a compose container when trying to push more data into the component while in a setInterval, any advances on this?

[2019-05-07 06:50] simranshikha commented on #54
my indexOf not increase data

[2019-05-24 05:09] gargankush010 opened #180 "Get the values from Response in SharePoint SPFx"
Hi Everyone,

I am new to SPFx so please bear with my foolish mistakes. I am trying to make a webpart which gets the current logged in user's 'Following sites' using pnp. I got the URLs of following sites and i can see the returned promise in console as well. I just dont know how should i resolve this Response. Please help. `import { Version } from '@microsoft/sp-core-library';
import { BaseClient

[2019-05-24 05:46] gargankush010 commented on #180
i got it. For my fellow newbie SPFx developers, i am posting my solution. Just replace the followedsites() method with this.

` private followedSites(): void{
    this.getFollowedSites().then((Response)=>{
      var options: Array<favoritesitesurl> = new Array<favoritesitesurl>();
      console.log("Response is : ",Response);
      Response.forEach(element => {
        console.log(element.ContentU

[2019-05-24 05:46] #180 closed, assigned to nobody

[2019-09-10 08:47] programmer-krish commented on #54
`Uncaught TypeError: Cannot read property 'map' of undefined`
 import React from 'react';
  import { Row, Col } from 'react-bootstrap';
  import WeatherCard from './WeatherCard';

  const WeatherList = ({ weathers =[]}) => (
    <Row>
      {weathers.map(({ dt, temp, weather }, index) =>
        <Col key={index}>
          <WeatherCard
            min={temp.min}
            max={temp.max}

[2020-02-29 11:19] Tiruvengadam85 commented on #54
Hi All,

Iam also getting similar issue TypeError: Cannot read property 'map' of undefined react,

when I want to destructure an item  array
  return items.map(item => (
      <li>{item}</li>
    ));

`0: {applied_rule_ids: "XXX", base_currency_code: "AED", base_discount_amount: -310, base_grand_total: 300, base_discount_tax_compensation_amount: 14.78}
1: {applied_rule_ids: "YYY", base_currency_co

[2020-02-29 11:21] Tiruvengadam85 opened #181 "Iam getting following error, when i try to restructure an array TypeError: Cannot read property 'map' of undefined react"
`  return items.map(item => (
      <li>{item}</li>
    ));

`
Below is the items array
0: {applied_rule_ids: "XXX", base_currency_code: "AED", base_discount_amount: -310, base_grand_total: 300, base_discount_tax_compensation_amount: 14.78}
1: {applied_rule_ids: "YYY", base_currency_code: "AED", base_discount_amount: 0, base_grand_total: 170, base_discount_tax_compensation_amount: 0}
2: {base_curr

[2020-04-20 21:09] oyerohabib opened #182 "TypeError: Cannot read property 'map' of undefined"
App.js
`import React, { Component } from 'react';
import Ninjas from './Ninjas';

class App extends Component {
  states ={
    ninjas : [
      { name:"oyero", age:20, belt:"Black", id: 1 },
      { name:"habib", age:18, belt:"white", id: 2 },
      { name:"ola", age:16, belt:"green", id: 3 }
    ]
  }
  render () {
    return(
      <div className="App">
        <h1>My First React App</h1>

[2020-07-20 15:09] usama147 commented on #54
TypeError: Cannot read property 'map' of undefined
HomeScreen
C:/Users/User/Documents/React_Projects/shoppingwebsite/frontend/src/screens/HomeScreen.js:22
  19 |
  20 |  return loading? <div>Loading..</div>:
  21 |    error?<div></div>:

     | ^  23 |    {products.map(product=>
  24 |        <li key={product._id}>
  25 |         <div className="product">

/* Can someone help me too please?? It'll

[2020-07-20 15:10] usama147 commented on #54
![problem](https://user-images.githubusercontent.com/61545674/87953883-e34e4f80-caab-11ea-8387-8a2fc253d954.png)
can someone please help

[2020-12-05 14:53] ntinykumar commented on #54
I am using out of the box SPFX list form modern reach js webpart and it was running well earlier on the sharepoint site online. Suddently it has started showining error. "TypeError: Cannot read property 'map' of undefined". can anyone tell me the fix of this ? Can git hub has updated there online libraries and this issues is causing error due to that. Git hub please fix the issues and get it work